<div class="application-modal" id="application">
    <a href="#" class="close">✕</a>
    <h4>Apply</h4>
    <div class="gform_wrapper">
        <a class="gform_anchor"></a>
        <form action="#" enctype="multipart/form-data" method="post" name="gform">
            <div class="gform_body">
                <ul class="gform_fields top_label form_sublabel_below description_below">
                    <li class="gfield field_sublabel_below field_description_below">
                        <label class="gfield_label" for="input_1">Name</label>
                        <div class="ginput_container ginput_container_text">
                            <input class="medium" name="input_1" tabindex="1" type="text" value="" placeholder="Name">
                        </div>
                    </li>
                    <li class="gfield field_sublabel_below field_description_below">
                        <label class="gfield_label" for="input_2">Email</label>
                        <div class="ginput_container ginput_container_email">
                            <input class="medium" name="input_2" tabindex="2" type="email" value="" placeholder="Email Address">
                        </div>
                    </li>
                    <li class="gfield field_sublabel_below field_description_below">
                        <label class="gfield_label" for="input_2">Phone Number</label>
                        <div class="ginput_container ginput_container_email">
                            <input class="medium" name="input_2" tabindex="2" type="email" value="" placeholder="Phone Number">
                        </div>
                    </li>
                    <li class="gfield field_sublabel_below field_description_below">
                        <label class="gfield_label" for="input_5">Message</label>
                        <div class="ginput_container ginput_container_textarea">
                            <textarea class="textarea medium" cols="50" name="input_5" rows="10" tabindex="5" placeholder="Message"></textarea>
                        </div>
                    </li>
                    <li class="gfield gfield_contains_required field_sublabel_below field_description_below">
                        <label class="gfield_label" for="input_2_3">Attach Resume:</label>
                        <div class="ginput_container ginput_container_fileupload">
                            <input type="hidden" name="MAX_FILE_SIZE" value="2097152">
                            <input name="input_3" id="input_2_3" type="file" class="inputfile medium filled-in" aria-describedby="extensions_message"
                                tabindex="3">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="gform_footer top_label">
                <input class="gform_button button" onclick="if(window[&quot;gf_submitting&quot;]){return false;} window[&quot;gf_submitting&quot;]=true;"
                    tabindex="6" type="submit" value="Submit">
                <input name="gform_ajax" type="hidden" value="form_id=3&amp;title=&amp;description=&amp;tabindex=1">
                <input class="gform_hidden" name="is_submit" type="hidden" value="1">
                <input class="gform_hidden" name="gform_submit" type="hidden" value="3">
                <input class="gform_hidden" name="gform_unique_id" type="hidden" value="">
                <input class="gform_hidden" name="state" type="hidden" value="WyJbXSIsIjVlMGQ5N2Y2NGM3Njc5MzZhZTQ4NGEzNDA2NmFjNGE1Il0=">
                <input class="gform_hidden" name="gform_target_page_number" type="hidden" value="0">
                <input class="gform_hidden" name="gform_source_page_number" type="hidden" value="1">
                <input name="gform_field_values" type="hidden" value="">
            </div>
        </form>
    </div>
</div>