{{>_defs}}
<nav class="navbar navbar-expand-lg navbar-light fixed-top headroom bg-white">
  <div class="container">
    <a class="navbar-brand animsition-link" href="/">
      <img class="navbar-logo d-block d-md-none" alt="Northwestern | International Institute for Nanotechnology" src="../images/Northwestern_IIN_logo_mobile.svg">
      <img class="navbar-logo d-none d-md-block" alt="Northwestern | International Institute for Nanotechnology" src="../images/Northwestern_IIN_logo.svg">
    </a>
    <div class="search-bar nav-link d-block d-lg-none ml-auto mr-1">
      <form action="" class="search-toggle">
        <div class="search-button">
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><title>search</title><path d="M10.5,3A7.51,7.51,0,0,1,17,14.2a7.51,7.51,0,0,1-.5.73L21,19.4,19.4,21l-4.47-4.47a4.93,4.93,0,0,1-.71.48A7.5,7.5,0,1,1,10.5,3Zm0,2a5.5,5.5,0,1,0,2.73,10.28,8,8,0,0,0,.88-.63l.5-.49a8.91,8.91,0,0,0,.68-.95A5.51,5.51,0,0,0,10.5,5Z" transform="translate(-3 -3)" fill-rule="evenodd"/></svg></a>
        </div>
        <input type="text" class="text search-input" placeholder="Search" />
        <span class="search-close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>close</title><polygon points="24 1.41 22.59 0 12 10.59 1.41 0 0 1.41 10.59 12 0 22.59 1.41 24 12 13.41 22.59 24 24 22.59 13.41 12 24 1.41" fill-rule="evenodd"/></svg></span>
      </form>
    </div>
    <button class="hamburger hamburger--spin navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About<span class="sr-only">(current)</span>
          </a>
          <div class="about-dropdown dropdown-menu m-0 p-0" aria-labelledby="navbarDropdownMenuAbout">
            <div class="dropdown-container">
              <div class="row">
                <div class="col-md-3 pl-md-3 nav-title">
                  <h3 class="text-light">About</h3>
                </div>
                <div class="col-md-4 about-nav-list">
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-4.png" href="about.html">About Us</a>
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-3.png" href="nanotechnology.html">Nanotechnology</a>
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-1.png" href="people.html">People</a>
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-2.png" href="people.html">Partners</a>
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-3.png" href="people.html">Facilities</a>
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-1.png" href="contact.html">Contact</a>
                </div>
                <div class="pr-md-0 col-md-5 pinned-image-right about-default">
                  <img src="../images/detail-image-2.png" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link animsition-link" href="research.html">Research</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuEducation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Education</a>
          <div class="education-dropdown dropdown-menu m-0 p-0" aria-labelledby="navbarDropdownMenuEducation">
            <div class="dropdown-container">
              <div class="row">
                <div class="pl-md-0 col-md-5 pinned-image-left education-default">
                  <img src="../images/detail-image-5.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-3 offset-md-5 pl-md-3  nav-title">
                  <h3 class="text-light">Education</h3>
                </div>
                <div class="col-md-4 pr-md-3 edu-nav-list">
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-1.png" href="/nano101.html">Nano101</a>
                  <p class="nav-divider text-dark-light">FELLOWSHIPS</p>
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-2.png" href="#">Ryan Graduate Fellowships</a>
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-3.png" href="#">IIN Postdoctoral Fellowships</a>
                  <p class="nav-divider text-dark-light">RESEARCH</p>
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-4.png" href="#">Research Experience for Undergraduates</a>
                  <p class="nav-divider text-dark-light">EVENTS</p>
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-5.png" href="#">All Scout Nano Day</a>
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-1.png" href="#">Nano Boot Camp for Clinicians</a>
                  <a class="dropdown-item animsition-link" data-image="../images/detail-image-2.png" href="#">Nanotechnology Town Hall Meetings</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link animsition-link" href="news.html">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link animsition-link" href="events.html">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link animsition-link" href="giving.html">Giving</a>
        </li>
      </ul>
      <div class="search-bar nav-link d-none d-lg-block">
        <form action="" class="search-toggle">
          <div class="search-button">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><title>search</title><path d="M10.5,3A7.51,7.51,0,0,1,17,14.2a7.51,7.51,0,0,1-.5.73L21,19.4,19.4,21l-4.47-4.47a4.93,4.93,0,0,1-.71.48A7.5,7.5,0,1,1,10.5,3Zm0,2a5.5,5.5,0,1,0,2.73,10.28,8,8,0,0,0,.88-.63l.5-.49a8.91,8.91,0,0,0,.68-.95A5.51,5.51,0,0,0,10.5,5Z" transform="translate(-3 -3)" fill-rule="evenodd"/></svg></a>
          </div>
          <input type="text" class="text search-input" placeholder="Search" />
          <span class="search-close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>close</title><polygon points="24 1.41 22.59 0 12 10.59 1.41 0 0 1.41 10.59 12 0 22.59 1.41 24 12 13.41 22.59 24 24 22.59 13.41 12 24 1.41" fill-rule="evenodd"/></svg></span>
        </form>
      </div>
    </div>
  </div>
</nav>
