//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//
// ========================================================================
// Component
// ========================================================================
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	overflow-x: hidden;
  font-family: 'Akkurat Pro', $font-family-base;
  color: $dark;
}

a {
	&:hover,
	&:focus {

	}
}

.container {
  @include media-breakpoint-down ('md') {
    max-width: 100%;
  }
}

video::-webkit-media-controls {
	display: none !important;
}

// Heading styles
.h1, .h2, .h4, h1, h2, h4 {
  color: $dark;
  font-family: 'Campton', $font-family-base;
  font-weight: 500;
}

.h3, h3 {
  color: $brand-blue;
  font-family: 'Campton', $font-family-base;
  font-weight: 400;

  b, strong {
    font-weight: 500;
  }
}

.h5, .h6, h5, h6 {
  font-family: 'Akkurat Pro', $font-family-base;
  font-weight: 400;

  b, strong {
    font-weight: 700;
  }
}

// Typography
.display-1 {
  font-size: 2rem;
  line-height: 1.125;

  @include media-breakpoint-up('md') {
    font-size: $display1-size;
    line-height: 1.1;
  }
}

.h1, h1 {
  font-size: 1.75rem;
  line-height: 1.2143;
  margin-bottom: 3rem;

  @include media-breakpoint-up('md') {
    font-size: $h1-font-size;
    line-height: 1.2083;
  }
}

.h2, h2 {
  font-size: 1.5rem;
  line-height: 1.3333;
  margin-bottom: 1.375rem;

  @include media-breakpoint-up('md') {
    font-size: $h2-font-size;
    line-height: 1.2632;
  }
}

.h3, h3 {
  font-size: 1.375rem;
  line-height: 1.2727;
  margin-bottom: 1.5rem;

  @include media-breakpoint-up('md') {
    font-size: $h3-font-size;
    line-height: 1.2941;
  }
}

.h4, h4 {
  font-size: 1.25rem;
  line-height: 1.4;

  @include media-breakpoint-up('md') {
    font-size: $h4-font-size;
    line-height: 1.2857;
  }
}

.h5, h5 {
  font-size: 1.25rem;
  line-height: 1.4;

  @include media-breakpoint-up('md') {
    font-size: $h5-font-size;
    line-height: 1.3846;
  }
}

.h6, h6 {
  font-size: 1rem;
  line-height: 1.625;

  @include media-breakpoint-up('md') {
    font-size: $h6-font-size;
    line-height: 1.5556;
  }
}

p {
  font-size: 0.9375rem;

  @include media-breakpoint-up('md') {
    font-size: 1rem;
  }
}

.x-small {
  font-size: 0.75rem;
}

.small {
  font-size: $small-font-size;

  @include media-breakpoint-up('md') {
    font-size: $small-font-size;
  }
}

.lead {
  font-size: 0.9375rem;

  @include media-breakpoint-up('md') {
    font-size: $lead-font-size;
  }
}

.bold {
  font-weight: bold;
}


// Colors
.text {
  &-white * {
    color: $white !important;
  }

  &-light {
    color: $ui05 !important;
  }

  &-dark-light {
    color: $ui06 !important;
  }

  &-dark {
    color: $ui08 !important;
  }

  &-primary {
    color: $purple500 !important;
  }

  &-primary-light {
    color: $purple100 !important;
  }

  &-secondary {
    color: $blue500 !important;
  }

  &-secondary-light {
    color: $blue100 !important;
  }
}

a.underline {
  text-decoration: none;
}


// Rules
hr {
  &.footer-rule {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid #BFC6C7;

    // @include media-breakpoint-down('sm') {
    //   margin: 2rem -9999rem;
    //   padding: 0 9999rem;
    //   background: #BFC6C7;
    // }
  }

  &.horizontal-rule {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    border: 0;
    border-top: 1px solid #BFC6C7;

    // @include media-breakpoint-down('sm') {
    //   margin: 2rem -9999rem;
    //   padding: 0 9999rem;
    //   background: #BFC6C7;
    // }
  }

  &.horizontal-rule-secondary {
    border: 0;
    border-top: 4px solid $secondary;
  }
}

.rule-bottom {
  margin-bottom: 2.5rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 24px;
    width: calc(100% - 48px);
    border-bottom: 1px solid #BFC6C7;
  }
}

.detail-list {
  font-weight: bold;

  li {
    border-bottom: 1px solid $white;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.vertical-rule {
  @include media-breakpoint-up('md') {
    border: 0;
    border-left: 1px solid #BFC6C7;
    height: 100%;
  }
}

.bg-shadow {
  box-shadow: 0 1px 1px 1px rgba(#333940,0.1), 0 20px 25px -15px rgba(#333940,0.4);
}

.mobile-image-bleed {
  @include media-breakpoint-down('sm') {
    margin-left: -24px;
    margin-right: -24px;
    min-width: calc(100% + 48px);
    margin-bottom: 2rem;
  }
}

.bg-detail-long {
  @include media-breakpoint-up('sm') {
    background: linear-gradient(to right, white 14.5833%, transparent 0);
  }
}

.bg-detail-short {
  @include media-breakpoint-up('sm') {
    background: linear-gradient(to right, white 44.4444%, transparent 0);
  }
}

.nav-tabs {
  border-bottom: 1px solid #BFC6C7;

  .nav-item + .nav-item {
    margin-left: 2rem;
  }

  .nav-link {
    color: $ui06;
    padding: 1.25rem 0;

    &.active {
      color: $ui08;
    }

    &:after {
      bottom: 0;
      background: $blue100;
    }

    &.active::after,
    &:hover::after {
      background: $blue100;
    }
  }
}

.btn-link {
  cursor: pointer;

  &.collapsed {
    svg {
      transform: rotate(-90deg);
    }
  }

  svg {
    position: relative;
    top: -3px;
    right: -5px;
    transform: rotate(0);
    transition: transform 0.3s ease-in-out;
  }
}
