//
// Name:            Buttons
//
// Description:     Contains all button styles
//
// ========================================================================
// Component
// ========================================================================
a.underline {
  border-bottom: 2px $blue100 solid;
  padding-bottom: 0.5rem;
  font-weight: 700;
}
