//
// Name:            Modals
//
.team-modal {
  img {
    display: none;
  }

  .modal-dialog {
    width: 100%;
    // overflow-y: initial !important;
  }

  // .overflow-body {
  //   height: 55vh;
  //   max-height: 500px;
  //   overflow-y: auto;
  //
  //   p {
  //     width: 95%;
  //   }
  // }

  @include media-breakpoint-down ('xs') {
    .modal-dialog {
      margin: 2rem 0 0;
    }

    .modal-content {
      padding: 1rem;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
  }

  h4, .h4 {
    @include media-breakpoint-down ('md') {
      font-size: $h3-font-size;
      line-height: 1.2941;
      margin-bottom: 0;
      font-weight: 400;
    }

    @include media-breakpoint-down ('sm') {
      font-size: 1.375rem;
      line-height: 1.2727;
      margin-bottom: 0.5rem;
    }
  }

  @include media-breakpoint-up ('sm') {
    img {
      display: block;
    }

    .modal-dialog {
      overflow-y: initial !important;
      max-width: 736px;
    }

    .modal-body {
      padding-top: 3.75rem;
    }

    .modal-content {
      padding: 2.5rem 3.75rem 4.6875rem 0;
    }

    .row {
      margin-left: -30px;
      margin-right: -30px;
    }

    div[class*="col-"] {
      padding-left: 30px;
      padding-right: 30px;
    }

    .overflow-body {
      height: 55vh;
      max-height: 500px;
      overflow-y: auto;

      p {
        width: 80%;
      }
    }
  }

  @include media-breakpoint-up ('lg') {
    .modal-dialog {
      max-width: 1040px;
    }

    .row {
      margin-left: -40px;
      margin-right: -40px;
    }

    div[class*="col-"] {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .close {
    opacity: 1;
  }

  h6,.h6 {
    margin-bottom: 2.625rem;
  }
}
