//
// Name:            Home
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//

// ========================================================================
// Component: Home Page
// ========================================================================

//
// Name:            Home
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Home Page
// ========================================================================

.home,
.page-template-template-home {
	section#hero {
		height: 900px;
		padding: 0;
	}

	nav.navbar.headroom .navbar-nav .nav-link {
		color: $white !important;
		transition: color 0.3s ease-in-out;
	}

	nav.navbar,
	nav.navbar:before {
		transition: background-color 0.3s ease-in-out, transform 200ms linear;
	}

	.nav-item > a,
	.dropdown > a {
	  &:after {
	    background: $white;
	  }

	  &.active::after,
	  &:hover::after {
	    background: $white;
	  }
	}

	.slide-caption {
		position: relative;
		bottom: -6rem;
	}

	.swiper-news {
		overflow: visible;

		.swiper-slide {
			opacity: 0.5;
			transition: opacity 0.5s ease-in-out;
		}

		.swiper-slide-active {
			& + .swiper-slide {
				opacity: 1 !important;
			}

			& + .swiper-slide + .swiper-slide {
				opacity: 1 !important;
				margin-right: 10px;
			}
		}

		.swiper-slide-active, .swiper-slide-view-active {
			opacity: 1 !important;
		}

		.swiper-slide-view-last {
			margin-right: 10px;
		}

		.swiper-slide-active {
			margin-left: 10px;
		}

		.swiper-slide-view-prev {
			margin-left: -10px;
		}
	}

	nav.navbar.headroom--top,
	.swiper-container-right {
		background: transparent;

		&:before {
			@include media-breakpoint-up('md') {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 40.1042vw;
				height: 100%;
				background-color: $primary;
				z-index: -999;
			}

			@include media-breakpoint-up('lg') {
				width: 55.5556vw;
			}
		}
	}

	.swiper-container-left {
		background: transparent;

		&:before {
			@include media-breakpoint-up('md') {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 40.1042vw;
				height: 100%;
				background-color: $secondary;
				z-index: -999;
			}

			@include media-breakpoint-up('lg') {
				width: 55.5556vw;
			}
		}
	}

	.pinned-image {
	  @include media-breakpoint-up('md') {
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 40.1042vw;
	    height: 100%;
		}

		@include media-breakpoint-up('lg') {
			width: 55.5556vw;
		}

    img {
      object-fit: cover;
      height: auto;
      min-width: 100%;
			object-position: 50% 50%;
    }
	}

	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		background-color: $white;
	}

	.navbar {
		background-color: $primary !important;

		.navbar-nav .search-icon {
			fill: $white;
		}
	}

	#waves-wrapper {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		canvas {
			width: 100vw !important;
			height: 100vh !important;
			left: -10vw;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			display: block;
			transform: rotate(66deg);
		}
	}
}
