.page-template-template-news {
  #load-more {
    margin: 2rem 0 0;
    text-align: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .hidden {
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #newsNav {
    .button-group li {
      color: $primary;
      cursor: pointer;
      margin-bottom: 1rem;

      &.is-checked {
        color: $black;
      }
    }
  }

  .pinned-color-news {
    @include media-breakpoint-up('md') {
      width: 75%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $primary;
      margin-bottom: 3rem;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 75%;
        height: 100%;
        width: 9999px;
        margin-right: -9999px;
        background-color: $primary;
      }
    }
  }

  .element-item {
    border-bottom: 1px solid #BFC6C7;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
