.page-template-template-research {
	#waves-wrapper {
		overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

		canvas {
			width: 100vw !important;
			height: 100vh !important;
			left: -10vw;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			display: block;
			transform: rotate(66deg);
		}
	}
}
