{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-5 col-lg-4">
					<h1 class="mb-md-0">About us</h1>
				</div>
				<div class="col-sm-8 col-md-7 col-lg-8">
					<p class="h3 text-dark mb-3 mb-md-0">The IIN embodies an extraordinary combination of scientific capabilities, outreach, and partnerships that provide fertile ground for making substantial contributions to the field and ensure that the U.S. remains a world leader in nanotechnology.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="text-white">
		<div class="container-fluid container-max">
			<div class="row h-100">
				<div class="col">
					<div class="embed-responsive embed-responsive-16by9">
						<div class="overlay-purple">
							<div class="row h-100">
								<div class="col-sm-6 col-md-5 offset-sm-2 my-auto">
									<h2>Advancing world-class nanotechnolgy research</h2>
									<p class="lead mb-3">This is the International Institute for Nanotechnology </p>
									<div class="row h-100">
										<div class="col-auto my-auto pr-0">
											<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54"><path d="M27,0A27,27,0,1,0,54,27,27,27,0,0,0,27,0Zm0,51A24,24,0,1,1,51,27,24,24,0,0,1,27,51ZM23,35l12-8L23,19Z" fill="#e5e5e5" fill-rule="evenodd"/></svg>
										</div>
										<div class="col-auto my-auto">
											<h5 class="m-0">Watch video</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
							<source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
						</video> -->
						<iframe frameborder="0" height="100%" width="100%" src="https://youtube.com/embed/MYOGx-9RghQ?autoplay=1&controls=0&showinfo=0&autohide=1?rel=0&amp;autoplay=1&mute=1"></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h2 class="mb-6">Established in 2000 by Northwestern University, as the first institute of its kind in the country. Today, the IIN represents and unites more than $1 billion in nanotechnology research, educational programs, and supporting infrastructure.</h2>
				</div>
			</div>
			<div class="row mb-4 mb-md-0">
				<div class="col-sm-6 col-md-5">
					<h3>Collaborative</h3>
					<p>Bringing together more than 240 chemists, engineers, biologists, physicians, and business experts, from across Northwestern. Also developing collaborative partnerships with academic institutions in 30 countries, with more than a dozen U.S. federal agencies, and over 100 corporations.</p>
				</div>
				<div class="col-sm-6 col-md-5 offset-md-1">
					<h3>Impactful</h3>
					<p>The IIN has made an economic impact with more than 2,000 products and systems that have been commercialized worldwide. Twenty-three start-up companies have been launched based upon IIN research, attracting over $1 billion in venture capital funding.</p>
				</div>
			</div>
		</div>
	</section>
	<section data-aos="fade-up" class="about-offset-bottom">
		<div class="container-fluid container-max">
			<div class="row">
				<div class="col">
					<img src="../images/about-image.png" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</section>
	<section class="section about-offset-top bg-primary text-white">
		<div class="container">
			<div class="row">
				<div id="waves-wrapper"></div>
				<div class="col-sm-8 offset-sm-1 col-md-6 py-sm-6 py-md-0">
					<h3>People of the IIN</h3>
					<p class="lead">The IIN is made up of extraordinary people: from world-renowned researchers and their students, to industry leaders and outstanding administrators. Under the leadership of Chad Mirkin, the IIN represents over 240 faculty from 32 departments and 4 schools at Northwestern University and collaborators from universities and companies around the world.</p>
					<a href="#" class="lead underline">Learn more about our people</a>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer_alt}}
{{> ../footer/_foot}}
