{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 offset-sm-1">
					<p class="small">Research</p>
					<h1 class="mb-2">Nanoparticles’ movement reveals whether they can successfully target cancer</h1>
					<p class="bold">By Kathryn Marshall</p>
					<p class="small text-dark-light mb-2">August 09, 2019</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 offset-sm-1">
					<img src="../images/article-detail.png" class="img-fluid mobile-image-bleed mb-15" alt="">
					<p class="small mb-3">Image caption - description should not exceed 140 characters in length. Lorem ipsum nullam quisante. Etiam sit amet orceget eros faucibus.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 offset-md-1 d-none d-md-block">
					<div id="stickybit-parent" class="row">
						<div class="col-12">
							<nav id="articleNav" class="article-nav">
								<ul class="nav flex-column">
									<li class="nav-item mb-1">
										<a class="animsition small bold text-dark" target="_blank" href="#executivecouncil"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>facebook</title><path d="M24,12.07A12,12,0,1,0,10.12,24V15.56h-3V12.07h3V9.41c0-3,1.8-4.69,4.54-4.69A18.71,18.71,0,0,1,17.34,5v3H15.83a1.74,1.74,0,0,0-1.95,1.89v2.26H17.2l-.53,3.49H13.88V24A12.06,12.06,0,0,0,24,12.07" fill="#68748d" fill-rule="evenodd"/></svg>Share</a>
									</li>
									<li class="nav-item mb-1">
										<a class="animsition small bold text-dark" target="_blank" href="#steeringcommittee"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="19" viewBox="0 0 23 19"><title>twitter</title><path d="M11.17,5.05l.05.83-.83-.1a13.51,13.51,0,0,1-7.91-3.9L1.38.79,1.1,1.6a4.82,4.82,0,0,0,1,5c.66.71.51.81-.63.39a2.13,2.13,0,0,0-.79-.19A6.25,6.25,0,0,0,1.31,9a5.4,5.4,0,0,0,2.28,2.15l.81.38-1,0c-.93,0-1,0-.86.37a5,5,0,0,0,3.1,2.75l1,.35-.89.54a9.37,9.37,0,0,1-4.46,1.24A4.49,4.49,0,0,0,0,17a13.06,13.06,0,0,0,3.21,1.47,14,14,0,0,0,10.9-1.24,14.53,14.53,0,0,0,5.53-6.51,17.14,17.14,0,0,0,1.13-5c0-.77.05-.87,1-1.79a12.15,12.15,0,0,0,1.17-1.29c.16-.32.15-.32-.7,0-1.41.5-1.61.44-.91-.32A4.93,4.93,0,0,0,22.44.41s-.25,0-.54.18a8.91,8.91,0,0,1-1.46.57l-.9.29L18.73.89A6.83,6.83,0,0,0,17.32.16a5.72,5.72,0,0,0-2.91.06A4.8,4.8,0,0,0,11.17,5.05Z" transform="translate(0 0)" fill="#68748d" fill-rule="evenodd"/></svg>Tweet</a>
									</li>
									<li class="nav-item mb-1">
										<a class="animsition small bold text-dark" target="_blank" href="#administration"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21"><title>linkedin</title><path d="M5,7V21H0V7ZM5,2.5A2.41,2.41,0,0,1,2.49,5h0A2.39,2.39,0,0,1,0,2.5,2.4,2.4,0,0,1,2.51,0,2.4,2.4,0,0,1,5,2.5ZM22,12.6V21H17.41V13.16c0-2-.66-3.31-2.32-3.31a2.52,2.52,0,0,0-2.35,1.78,3.55,3.55,0,0,0-.15,1.19V21H8S8.06,7.72,8,6.34h4.59V8.42A4.52,4.52,0,0,1,16.72,6C19.74,6,22,8.1,22,12.6Z" fill="#68748d" fill-rule="evenodd"/></svg>Post</a>
									</li>
									<li class="nav-item mb-1">
										<a class="animsition small bold text-dark" target="_blank" href="#affiliatedfaculty"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17"><title>mail</title><path d="M22,2a2.11,2.11,0,0,0-2.2-2H2.2A2.11,2.11,0,0,0,0,2V15a2.11,2.11,0,0,0,2.2,2H19.8A2.11,2.11,0,0,0,22,15ZM19,3,11,8,3,3Zm0,11H3V6l8,4.8L19,6Z" fill="#68748d" fill-rule="evenodd"/></svg>Email</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<p class="h5 mb-2">Optional subheadline text Lorem ipsum dolor sit amet con sectetuer adipiscing elit.</p>
					<p>Our energy reasearch is aimed at developing nanostructured materials that can be used to improve the performance of conventional fossil fuels, and to devise nanostructured materials that make solar energy solutions economically feasible. Our energy reasearch is aimed at developing nanostructured materials that can be used to improve the performance of conventional fossil fuels, and to devise nanostructured materials that make solar energy solutions economically feasible. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cusociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis.</p>
					<p>Focusing on the development of nanosensors to detect contaminates such as salmonella on the surface of food at the packaging plant, and or develop field sensors that can differentiate genetically engineered foods. To create safe, inexpensive, and portable nano-enabled devices capable of sensing and remediating pollutants in water. To employ nanomaterials to solve major environmental remediation problems to employ nanomaterials as highly functional sponges to soak up environmental toxins. To safeguard our most valuable resource – our planet – by enabling environmental hazards to be identified and cleaned up faster and more efficiently..</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Donec quam felis, ultricies nec, pellentesque eu, pretium onec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
					<hr class="horizontal-rule mt-4">
					<p><em>This article is originally featured in <a href="#">Northwestern Now</a>.</em></p>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}
