{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h1 class="mb-md-3">Contact</h1>
					<p class="lead text-dark-light m-0">International Institute for Nanotechnology</p>
					<p class="lead">2145 Sheridan Rd, Tech K111 <br/>Evanston, IL 60208, US</p>
					<p class="text-primary"><a href="#" class="external-link">Map and directions</a></p>
				</div>
				<div class="col-md-1 offset-md-1">
					<div class="vertical-rule"></div>
					<hr class="horizontal-rule d-block d-md-none">
				</div>
				<div class="col-md-7">
					<h5 class="mb-2">Feel free to get in touch. Send us a message using the contact form below.</h5>
					<div class="gform_wrapper">
						<a class="gform_anchor"></a>
						<form action="#" enctype="multipart/form-data" method="post" name="gform">
							<div class="gform_body">
								<ul class="gform_fields top_label form_sublabel_below description_below">
									<li class="gfield field_sublabel_below field_description_below">
										<label class="gfield_label sr-only" for="input_1">Inquiry type</label>
										<div class="ginput_container ginput_container_text">
											<input class="medium" name="input_1" tabindex="1" type="text" value="" placeholder="Inquiry type">
										</div>
									</li>
									<li class="gfield field_sublabel_below field_description_below">
										<label class="gfield_label sr-only" for="input_2">Name</label>
										<div class="ginput_container ginput_container_text">
											<input class="medium" name="input_2" tabindex="2" type="text" value="" placeholder="Name">
										</div>
									</li>
									<li class="gfield field_sublabel_below field_description_below">
										<label class="gfield_label sr-only" for="input_3">Email</label>
										<div class="ginput_container ginput_container_email">
											<input class="medium" name="input_3" tabindex="3" type="email" value="" placeholder="Email">
										</div>
									</li>
									<li class="gfield field_sublabel_below field_description_below">
										<label class="gfield_label sr-only" for="input_4">Name</label>
										<div class="ginput_container ginput_container_text">
											<input class="medium" name="input_4" tabindex="4" type="text" value="" placeholder="Message">
										</div>
									</li>
								</ul>
							</div>
							<div class="gform_footer top_label">
								<input class="gform_button button btn btn-primary col-md-6 col-lg-5 ml-auto mt-1" onclick="if(window[&quot;gf_submitting&quot;]){return false;} window[&quot;gf_submitting&quot;]=true;" tabindex="6" type="submit" value="Send Message">
								<input name="gform_ajax" type="hidden" value="form_id=3&amp;title=&amp;description=&amp;tabindex=1">
								<input class="gform_hidden" name="is_submit" type="hidden" value="1">
								<input class="gform_hidden" name="gform_submit" type="hidden" value="3">
								<input class="gform_hidden" name="gform_unique_id" type="hidden" value="">
								<input class="gform_hidden" name="state" type="hidden" value="WyJbXSIsIjVlMGQ5N2Y2NGM3Njc5MzZhZTQ4NGEzNDA2NmFjNGE1Il0=">
								<input class="gform_hidden" name="gform_target_page_number" type="hidden" value="0">
								<input class="gform_hidden" name="gform_source_page_number" type="hidden" value="1">
								<input name="gform_field_values" type="hidden" value="">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}
