{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero" class="pb-0">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-5 col-lg-4">
					<h1 class="mb-md-3">Events</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="pin-section-small">
		<div class="container">
			<div class="row h-100">
				<div class="col d-block d-md-none">
					<p class="lead text-dark-light">Featured Event</p>
				</div>
				<div class="pinned-image">
					<img src="../images/featured-image.png" class="img-fluid mb-2" alt="">
				</div>
				<div class="col-md-5 my-auto">
					<p class="lead text-dark-light d-none d-md-block">Featured Event</p>
					<h2 class="text-primary">2019 IIN Symposium: Maps, Materials, and Methods for Navigating the Nanoscale World</h2>
					<div class="row">
						<div class="col-auto pr-0">
							<svg class="d-inline" xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20"><title>event</title><path d="M19,3H18V1H16V3H8V1H6V3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V5A2,2,0,0,0,19,3Zm0,16H5V8H19ZM7,10h5v5H7Z" transform="translate(-3 -1)" fill="#83878B" fill-rule="evenodd"/></svg>
						</div>
						<div class="col">
							<p class="lead"> November 14, 2019</p>
						</div>
					</div>
					<div class="row">
						<div class="col-auto pr-0">
							<svg class="d-inline" xmlns="http://www.w3.org/2000/svg" width="14" height="20" viewBox="0 0 14 20"><title>location</title><path d="M12,2A7,7,0,0,0,5,9c0,5.25,7,13,7,13s7-7.75,7-13a7,7,0,0,0-7-7Zm0,9.5A2.5,2.5,0,1,1,14.5,9,2.5,2.5,0,0,1,12,11.5Z" transform="translate(-5 -2)" fill="#83878B" fill-rule="evenodd"/></svg>
						</div>
						<div class="col">
							<p class="lead"> Hotel Orrington, Evanston, IL</p>
						</div>
				</div>
			</div>
		</div>
	</section>
	<section class="pt-3 pb-4">
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="nav nav-tabs" id="events-tabs" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="home" aria-selected="true">Upcoming Events</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="profile" aria-selected="false">Calendar</a>
					  </li>
					</ul>
					<div class="tab-content" id="events-tabs-content">
					  <div class="tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="events-tab">
							<!-- Entry 1 -->
							<div class="row py-2">
								<div class="col-3 col-md-1">
									<h6 class="m-0 text-dark-light"><b>SEP</b></h6>
									<h3 class="m-0 text-primary">09</h3>
								</div>
								<div class="col-9 col-md-7 col-lg-6">
									<h5 class="text-dark">2019 Nano Boot Camp for Clinicians</h5>
								</div>
								<div class="d-none d-md-block col-md-4 offset-lg-1">
									<p class="mb-15">Robert H. Lurie Medical Research Center</p>
									<p class="text-dark-light m-0">Chicago, IL</p>
								</div>
							</div>
							<hr class="horizontal-rule m-0">
							<!-- Entry 2 -->
							<div class="row py-2">
								<div class="col-3 col-md-1">
									<h6 class="m-0 text-dark-light"><b>OCT</b></h6>
									<h3 class="m-0 text-primary">03</h3>
								</div>
								<div class="col-9 col-md-7 col-lg-6">
									<h5 class="text-dark">IIN Frontiers in Nanotechnology Seminar Series: Paul Braun</h5>
								</div>
								<div class="d-none d-md-block col-md-4 offset-lg-1">
									<p class="mb-15">Pancoe-NSUHS Life Sciences Pavilion</p>
									<p class="text-dark-light m-0">Evanston, IL</p>
								</div>
							</div>
							<hr class="horizontal-rule m-0">
							<!-- Entry 3 -->
							<div class="row py-2">
								<div class="col-3 col-md-1">
									<h6 class="m-0 text-dark-light"><b>OCT</b></h6>
									<h3 class="m-0 text-primary">10</h3>
								</div>
								<div class="col-9 col-md-7 col-lg-6">
									<h5 class="text-dark">IIN Frontiers in Nanotechnology Seminar Series: Michelle Personick</h5>
								</div>
								<div class="d-none d-md-block col-md-4 offset-lg-1">
									<p class="mb-15">Pancoe-NSUHS Life Sciences Pavilion</p>
									<p class="text-dark-light m-0">Evanston, IL</p>
								</div>
							</div>
							<hr class="horizontal-rule m-0">
							<!-- Entry 4 -->
							<div class="row py-2">
								<div class="col-3 col-md-1">
									<h6 class="m-0 text-dark-light"><b>NOV</b></h6>
									<h3 class="m-0 text-primary">07</h3>
								</div>
								<div class="col-9 col-md-7 col-lg-6">
									<h5 class="text-dark">IIN Frontiers in Nanotechnology Seminar Series: Alexander Spokoyny</h5>
								</div>
								<div class="d-none d-md-block col-md-4 offset-lg-1">
									<p class="mb-15">Pancoe-NSUHS Life Sciences Pavilion</p>
									<p class="text-dark-light m-0">Evanston, IL</p>
								</div>
							</div>
							<hr class="horizontal-rule m-0">
							<!-- Entry 5 -->
							<div class="row py-2">
								<div class="col-3 col-md-1">
									<h6 class="m-0 text-dark-light"><b>NOV</b></h6>
									<h3 class="m-0 text-primary">14</h3>
								</div>
								<div class="col-9 col-md-7 col-lg-6">
									<h5 class="text-dark">2019 IIN Symposium: Maps, Materials, and Methods for Navigating the Nanoscale World</h5>
								</div>
								<div class="d-none d-md-block col-md-4 offset-lg-1">
									<p class="mb-15">Hotel Orrington, Grand Ballroom</p>
									<p class="text-dark-light m-0">Evanston, IL</p>
								</div>
							</div>
							<hr class="horizontal-rule m-0">
							<!-- Entry 6 -->
							<div class="row py-2">
								<div class="col-3 col-md-1">
									<h6 class="m-0 text-dark-light"><b>NOV</b></h6>
									<h3 class="m-0 text-primary">21</h3>
								</div>
								<div class="col-9 col-md-7 col-lg-6">
									<h5 class="text-dark">IIN Frontiers in Nanotechnology Seminar Series: Natalie Artzi</h5>
								</div>
								<div class="d-none d-md-block col-md-4 offset-lg-1">
									<p class="mb-15">Pancoe-NSUHS Life Sciences Pavilion</p>
									<p class="text-dark-light m-0">Evanston, IL</p>
								</div>
							</div>
							<hr class="horizontal-rule m-0">
							<!-- Entry 7 -->
							<div class="row py-2">
								<div class="col-3 col-md-1">
									<h6 class="m-0 text-dark-light"><b>DEC</b></h6>
									<h3 class="m-0 text-primary">05</h3>
								</div>
								<div class="col-9 col-md-7 col-lg-6">
									<h5 class="text-dark">IIN Frontiers in Nanotechnology Seminar Series: Jillian Dempsey</h5>
								</div>
								<div class="d-none d-md-block col-md-4 offset-lg-1">
									<p class="mb-15">Pancoe-NSUHS Life Sciences Pavilion</p>
									<p class="text-dark-light m-0">Evanston, IL</p>
								</div>
							</div>
						</div>
					  <div class="tab-pane fade pt-2" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
							<div id="calendar"></div>
						</div>
					</div>
				</div>
		</div>
	</section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}
