{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero" class="pb-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<p class="small">Events</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<h2 class="mb-sm-3">2019 IIN Symposium: Maps, Materials, and Methods for Navigating the Nanoscale World</h2>
					<img src="../images/featured-image.png" class="img-fluid mobile-image-bleed mb-3" alt="">
				</div>
				<div class="col-sm-4 offset-sm-1">
					<div class="bg-light py-3">
						<div class="row">
							<div class="col-10 offset-1">
								<a href="#" class="btn btn-primary w-100 mb-2">Register</a>
								<p class="small m-0">DATE & TIME</p>
								<p class="lead mb-2">Thu, November 7 <br/>4:00 PM – 5:00 PM CST</p>
								<p class="small m-0">LOCATION</p>
								<p class="lead">Pancoe-NSUHS Life Sciences <br/>Paviilion <br/>2200 Campus Drive <br/>Evanston, IL</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<p>Each year, the International Institute for Nanotechnology (IIN) organizes and sponsors a symposium that brings together leading national and international researchers. The symposium provides a venue to enhance interaction and encourage collaborations, and we invite you to attend.</p>
					<p>The 2019 IIN Symposium speakers:<br/><br/></p>
					<p>Stefan W. Hell, 2014 Nobel laureate, Max Planck Institute, Germany</p>
					<p>Harry Anderson, Oxford University, England</p>
					<p>Julia Greer, California Institute of Technology</p>
					<p>David Mooney, Harvard University</p>
					<p>The winner of the 2019 Kabiller Prize in Nanoscience and Nanomedicine<br/><br/></p>
					<p>There is no cost to attend the IIN Symposium. Registration is required.</p>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}
