{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<p class="small">Events</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<h2 class="mb-sm-3">IIN Frontiers in Nanotechnology Seminar Series: Alexander Spokoyny</h2>
					<p>The IIN Frontiers in Nanotechnology Seminar Series showcases renowned researchers who are making an impact in the broad area of nanotechnology. Seminar speakers meet with IIN faculty and students to foster inspiration and potential collaborations.</p>
					<p>There is no registration required to attend the seminar.</p>
				</div>
				<div class="col-sm-4 offset-sm-1">
					<div class="bg-light py-3">
						<div class="row">
							<div class="col-10 offset-1">
								<p class="small m-0">DATE & TIME</p>
								<p class="lead mb-2">Thu, November 7 <br/>4:00 PM – 5:00 PM CST</p>
								<p class="small m-0">LOCATION</p>
								<p class="lead">Pancoe-NSUHS Life Sciences <br/>Paviilion <br/>2200 Campus Drive <br/>Evanston, IL</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}
