{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-5 col-lg-4">
					<p class="small">Section Header</p>
					<h1 class="mb-sm-3">Page Heading</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 pr-sm-5">
					<p class="h5 mb-2">Optional subheadline text - 140 character max. Lorem ipsum dolor donec lorem ipsum quam felis lorem ipsum, ligula eget dolor penati mus.</p>
					<p>Our energy reasearch is aimed at developing nanostructured materials that can be used to improve the performance of conventional fossil fuels, and to devise nanostructured materials that make solar energy solutions economically feasible. Our energy reasearch is aimed at developing nanostructured materials that can be used to improve the performance of conventional fossil fuels, and to devise nanostructured materials that make solar energy solutions economically feasible. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget. Focusing on the development of nanosensors to detect.</p>
					<p>Develop field sensors that can differentiate genetically engineered foods. To create safe, inexpensive, and portable nano-enabled devices capable of sensing and remediating pollutants in water.</p>
				</div>
				<div class="col-sm-6">
					<img data-aos="fade-up" src="../images/detail-image-1.png" class="img-fluid mobile-image-bleed mb-15" alt="">
					<p class="small">Image caption–description should not exceed 140 characters in length. Lorem ipsum nullam quisante etiam sit amet lipsum null.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-secondary bg-detail-short text-white py-sm-4 pb-4">
		<div class="container">
			<div class="row h-100">
				<div class="col-sm-7">
					<img data-aos="fade-up" src="../images/detail-image-2.png" class="img-fluid mobile-image-bleed" alt="">
				</div>
				<div class="col-sm-5 my-auto pl-sm-5">
					<h3 class="mb-2">Title - Card Style 01</h3>
					<p class="mb-2">Description text, 140 character max. Lorem ipsum dolor sit met con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor sit amet.</p>
					<ul class="detail-list list-unstyled">
						<li>Link text - 40 character max lorem ipsum</li>
						<li>Six links max - lorem ipsum</li>
						<li>IIN Postdoctoral Fellowships</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="py-sm-4 pb-4">
		<div class="container">
			<div class="row h-100">
				<div class="col-sm-7 order-sm-2">
					<img data-aos="fade-up" src="../images/detail-image-3.png" class="img-fluid mobile-image-bleed" alt="">
				</div>
				<div class="col-sm-5 pr-sm-5 my-auto">
					<h2 class="mb-2">Text & image feature</h2>
					<p class="mb-2">Description text, 280 character max. Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati. Students with a glimpse into the life of a scientific researcher, as well as opportunities to meet and work with world-renowned scientists.</p>
					<a href="#" class="lead underline">Learn more</a>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-primary bg-detail-long text-white py-sm-4 pb-4 mb-6">
		<div class="container">
			<div class="row h-100">
				<div class="col-sm-7">
					<img data-aos="fade-up" src="../images/detail-image-4.png" class="img-fluid mobile-image-bleed" alt="">
				</div>
				<div class="col-sm-5 my-auto pl-sm-5">
					<h3 class="mb-1">Title - Card Style 02</h3>
					<p class="text-primary-light mb-2">Description text, 140 character max. Lorem ipsum dolor sit met con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor sit amet.</p>
					<ul class="detail-list list-unstyled">
						<li>Link text - 40 character max lorem ipsum</li>
						<li>Frontiers in Nanotechnology Seminars</li>
						<li>Nano Boot Camp for Clinicians</li>
						<li>Nanotechnology Town Hall Meetings</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-light text-dark py-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					<h2 class="mb-2">Text only row (no image)</h2>
					<p>Today, the professors of the 21st century are concerned not only with their traditional responsibilities of teaching and research, but also with the development of inventions, patents, and commerce.  Thanks in large part to the Bayh-Dole Act of 1980, academic scientists are encouraged to translate their research into marketable products and perhaps even new business opportunities. While popular culture often celebrates the "lone inventor", real-world innovation is more often the result of active collaboration among partners, mentors, and financers.</p>
					<p>One of the strengths of the IIN is that it provides the supportive framework necessary for innovation including a combination of sponsored research, partnerships with academia, industry, national labs, state and federal government, and business professionals, and supporting infrastructure.</p>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer_alt}}
{{> ../footer/_foot}}
