{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-5 col-lg-4">
					<h1 class="mb-md-3">Giving</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 pr-md-3">
					<h4 class="mb-4">The IIN welcomes donor contributions that will go towards building the future of nanotechnology. With your support, the world-changing potential of nanotechnology can be fully realized.</h4>
					<p class="mb-3">IIN researchers have realized groundbreaking scientific and technological advances, but nanotechnology is still in its infancy. Nanotechnology's full paradigm-shifting promise lies ahead. Indeed, it is poised to address the world’s most pressing problems. To take the next step forward, Northwestern needs the help of visionary donors. That help can take a variety of forms including:</p>
					<p>Supporting new faculty<br/></p>
					<p>Providing fellowships for students and postdoctoral associates<br/></p>
					<p class="mb-3">Providing ongoing support through endowment funds</p>
					<p>Additionally, donors can elect to support individual areas of research. It will carry the name of donors and will provide support for the faculty, technicians, students, and resources needed to make substantive advances in your particular area of interest for the next ten years.</p>
				</div>
				<div class="col-md-1">
					<div class="vertical-rule"></div>
					<hr class="horizontal-rule d-block d-md-none">
				</div>
				<div class="col-md-5">
					<h5 class="mb-2">To inquire about making a donation, or to learn about other ways to support the IIN, please contact us using the form below.</h5>
					<div class="gform_wrapper">
						<a class="gform_anchor"></a>
						<form action="#" enctype="multipart/form-data" method="post" name="gform">
							<div class="gform_body">
								<ul class="gform_fields top_label form_sublabel_below description_below">
									<li class="gfield field_sublabel_below field_description_below">
										<label class="gfield_label sr-only" for="input_1">Name</label>
										<div class="ginput_container ginput_container_text">
											<input class="medium" name="input_1" tabindex="1" type="text" value="" placeholder="Name">
										</div>
									</li>
									<li class="gfield field_sublabel_below field_description_below">
										<label class="gfield_label sr-only" for="input_2">Email</label>
										<div class="ginput_container ginput_container_email">
											<input class="medium" name="input_2" tabindex="2" type="email" value="" placeholder="Email">
										</div>
									</li>
									<li class="gfield field_sublabel_below field_description_below">
										<label class="gfield_label sr-only" for="input_3">Name</label>
										<div class="ginput_container ginput_container_text">
											<input class="medium" name="input_3" tabindex="3" type="text" value="" placeholder="Message">
										</div>
									</li>
								</ul>
							</div>
							<div class="gform_footer top_label">
								<input class="gform_button button btn btn-primary col-lg-6 ml-auto mt-1" onclick="if(window[&quot;gf_submitting&quot;]){return false;} window[&quot;gf_submitting&quot;]=true;" tabindex="6" type="submit" value="Send Message">
								<input name="gform_ajax" type="hidden" value="form_id=3&amp;title=&amp;description=&amp;tabindex=1">
								<input class="gform_hidden" name="is_submit" type="hidden" value="1">
								<input class="gform_hidden" name="gform_submit" type="hidden" value="3">
								<input class="gform_hidden" name="gform_unique_id" type="hidden" value="">
								<input class="gform_hidden" name="state" type="hidden" value="WyJbXSIsIjVlMGQ5N2Y2NGM3Njc5MzZhZTQ4NGEzNDA2NmFjNGE1Il0=">
								<input class="gform_hidden" name="gform_target_page_number" type="hidden" value="0">
								<input class="gform_hidden" name="gform_source_page_number" type="hidden" value="1">
								<input name="gform_field_values" type="hidden" value="">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}
