{{>../header/_head additionalClasses="front-page"}}
{{>../header/_header_home}}

<main class="main" id="main">
	<section id="hero" class="mb-6">
		<div class="swiper-container swiper-header h-100 pb-6">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="bg-image mb-3">
						<img src="../images/home-about.png" class="img-fluid" alt="">
					</div>
					<div class="slide-caption container h-100">
						<div class="row h-100">
							<div class="col-md-6 bg-primary text-white mt-auto p-3">
								<h3 class="mb-3">Nanoparticles of Precious Metals Shine as Catalysts Lorem Ipsum Dolor Sit Amet</h3>
								<a href="/about.html" class="lead underline">Explore our work</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="bg-image mb-3">
						<img src="../images/detail-image-2.png" class="img-fluid" alt="">
					</div>
					<div class="slide-caption container h-100">
						<div class="row h-100">
							<div class="col-md-6 bg-primary text-white mt-auto p-3">
								<h3 class="mb-3">Nanoparticles of Precious Metals Shine as Catalysts Lorem Ipsum Dolor Sit Amet</h3>
								<a href="/about.html" class="lead underline">Explore our work</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="swiper-slide">
						<div class="bg-image mb-3">
							<img src="../images/detail-image-3.png" class="img-fluid" alt="">
						</div>
						<div class="slide-caption container h-100">
							<div class="row h-100">
								<div class="col-md-6 bg-primary text-white mt-auto p-3">
									<h3 class="mb-3">Nanoparticles of Precious Metals Shine as Catalysts Lorem Ipsum Dolor Sit Amet</h3>
									<a href="/about.html" class="lead underline">Explore our work</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</section>

	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h3 class="mb-3">Advancing world-class nanoscience research</h3>
					<p class="lead mb-2">Established  by Northwestern University, the International Institute for Nanotechnology was the first institute of its kind in the country. The IIN embodies an extraordinary combination of scientific capabilities, outreach, and partnerships that provide fertile ground for making substantial contributions to the field of nanotechnology.</p>
					<a href="/about.html" class="lead underline">Learn more about us</a>
				</div>
				<div class="col-md-6 offset-md-1">
					<img src="../images/home-about.png" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</section>

	<section class="bg-light pt-3 pb-6">
		<div class="container">
			<div class="row h-100 py-2">
				<div class="col-auto">
					<h4 class="text-dark-light m-0">News</h4>
				</div>
				<div class="col-auto ml-auto mt-auto">
					<a class="news-link" href="/news.html">View More News</a>
					<div class="pagination-section-news d-none d-md-inline">
						<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#000000" fill-rule="evenodd"/></svg></div>
						<div class="swiper-pagination"></div>
						<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#000000" fill-rule="evenodd"/></svg></div>
					</div>
				</div>
			</div>
			<div class="swiper-container swiper-news h-100 pb-6 d-none d-md-block">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="row">
							<div class="col">
								<div class="slider-image mb-2">
									<img src="../images/news-slider-image-1.png" class="img-fluid" alt="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-11">
								<p class="text-dark-light mb-15">NOV 23, 2020</p>
								<p class="lead">Nobel Laureate Stefan Hell Among Internationally-Renowned Researchers Speaking at 2019 IIN Symposium</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="row">
							<div class="col">
								<div class="slider-image mb-2">
									<img src="../images/news-slider-image-2.png" class="img-fluid" alt="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-11">
								<p class="text-dark-light mb-15">NOV 23, 2020</p>
								<p class="lead">Article Titles Should Not Exceed 120 Characters in Length – Lorem Ipsum Dolor Sit Amet, Cons ectetuer Adipiscing</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="row">
							<div class="col">
								<div class="slider-image mb-2">
									<img src="../images/news-slider-image-3.png" class="img-fluid" alt="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-11">
								<p class="text-dark-light mb-15">NOV 23, 2020</p>
								<p class="lead">Tobin Marks is elected to the European Academy of Sciences</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="row">
							<div class="col">
								<div class="slider-image mb-2">
									<img src="../images/news-slider-image-4.png" class="img-fluid" alt="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-11">
								<p class="text-dark-light mb-15">NOV 23, 2020</p>
								<p class="lead">Article Titles Should Not Exceed 120 Characters in Length – Lorem Ipsum Dolor Sit Amet, Cons ectetuer Adipiscing</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="row">
							<div class="col">
								<div class="slider-image mb-2">
									<img src="../images/news-slider-image-5.png" class="img-fluid" alt="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-11">
								<p class="text-dark-light mb-15">NOV 23, 2020</p>
								<p class="lead">Article Titles Should Not Exceed 120 Characters in Length – Lorem Ipsum Dolor Sit Amet, Cons ectetuer Adipiscing</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="row">
							<div class="col">
								<div class="slider-image mb-2">
									<img src="../images/news-slider-image-6.png" class="img-fluid" alt="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-11">
								<p class="text-dark-light mb-15">NOV 23, 2020</p>
								<p class="lead">Article Titles Should Not Exceed 120 Characters in Length – Lorem Ipsum Dolor Sit Amet, Cons ectetuer Adipiscing</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="d-block d-md-none">
				<div class="row">
					<div class="col">
						<img src="../images/news-slider-image-1.png" class="img-fluid mb-2" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col mb-2">
						<p class="text-dark-light mb-15">NOV 23, 2020</p>
						<p class="lead">Nobel Laureate Stefan Hell Among Internationally-Renowned Researchers Speaking at 2019 IIN Symposium</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<img src="../images/news-slider-image-2.png" class="img-fluid mb-2" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col mb-2">
						<p class="text-dark-light mb-15">NOV 23, 2020</p>
						<p class="lead">Article Titles Should Not Exceed 120 Characters in Length – Lorem Ipsum Dolor Sit Amet, Cons ectetuer Adipiscing</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="swiper-container swiper-container-left swiper-home text-white">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="container-fluid p-0">
						<div class="row h-100">
							<div class="col-md-4 offset-md-1 my-auto">
								<div class="pagination-section mb-4">
									<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#FFFFFF" fill-rule="evenodd"/></svg></div>
									<div class="swiper-pagination"></div>
									<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#FFFFFF" fill-rule="evenodd"/></svg></div>
								</div>
								<h3>Our work</h3>
								<p class="lead">The IIN are exploring numerous applications of nantechnology through our many research initiatives. Our research is organzind in distinct fields that are each focused on a critical societal issue.</p>
								<a href="#" class="lead underline">Learn about our research</a>
							</div>
							<div class="col-md-6 offset-md-1 my-auto">
								<img src="/images/homepageslides.png" class="img-fluid" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="container-fluid p-0">
						<div class="row h-100">
							<div class="col-md-4 offset-md-1 my-auto">
								<div class="pagination-section mb-4">
									<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#FFFFFF" fill-rule="evenodd"/></svg></div>
									<div class="swiper-pagination"></div>
									<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#FFFFFF" fill-rule="evenodd"/></svg></div>
								</div>
								<h3>Our work</h3>
								<p class="lead">The IIN are exploring numerous applications of nantechnology through our many research initiatives. Our research is organzind in distinct fields that are each focused on a critical societal issue.</p>
								<a href="#" class="lead underline">Learn about our research</a>
							</div>
							<div class="col-md-6 offset-md-1 my-auto">
								<img src="/images/homepageslides.png" class="img-fluid" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="container-fluid p-0">
						<div class="row h-100">
							<div class="col-md-4 offset-md-1 my-auto">
								<div class="pagination-section mb-4">
									<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#FFFFFF" fill-rule="evenodd"/></svg></div>
									<div class="swiper-pagination"></div>
									<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#FFFFFF" fill-rule="evenodd"/></svg></div>
								</div>
								<h3>Our work</h3>
								<p class="lead">The IIN are exploring numerous applications of nantechnology through our many research initiatives. Our research is organzind in distinct fields that are each focused on a critical societal issue.</p>
								<a href="#" class="lead underline">Learn about our research</a>
							</div>
							<div class="col-md-6 offset-md-1 my-auto">
								<img src="/images/homepageslides.png" class="img-fluid" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-3 pb-6">
		<div class="container">
			<div class="row py-2">
				<div class="col-auto">
					<h4 class="text-dark-light">Events</h4>
				</div>
				<div class="col-auto ml-auto">
					<a href="/events.html">View All Events</a>
				</div>
			</div>
			<hr class="horizontal-rule m-0">
			<!-- Entry 1 -->
			<div class="row py-2">
				<div class="col-3 col-md-1">
					<h6 class="m-0 text-dark-light"><b>SEP</b></h6>
					<h3 class="m-0 text-primary">09</h3>
				</div>
				<div class="col-9 col-md-7 col-lg-6">
					<h5 class="text-dark">2019 Nano Boot Camp for Clinicians</h5>
				</div>
				<div class="d-none d-md-block col-md-4 offset-lg-1">
					<p class="mb-15">Robert H. Lurie Medical Research Center</p>
					<p class="text-dark-light m-0">Chicago, IL</p>
				</div>
			</div>
			<hr class="horizontal-rule m-0">
			<!-- Entry 2 -->
			<div class="row py-2">
				<div class="col-3 col-md-1">
					<h6 class="m-0 text-dark-light"><b>OCT</b></h6>
					<h3 class="m-0 text-primary">03</h3>
				</div>
				<div class="col-9 col-md-7 col-lg-6">
					<h5 class="text-dark">IIN Frontiers in Nanotechnology Seminar Series: Paul Braun</h5>
				</div>
				<div class="d-none d-md-block col-md-4 offset-lg-1">
					<p class="mb-15">Pancoe-NSUHS Life Sciences Pavilion</p>
					<p class="text-dark-light m-0">Evanston, IL</p>
				</div>
			</div>
			<hr class="horizontal-rule m-0">
			<!-- Entry 3 -->
			<div class="row py-2">
				<div class="col-3 col-md-1">
					<h6 class="m-0 text-dark-light"><b>OCT</b></h6>
					<h3 class="m-0 text-primary">10</h3>
				</div>
				<div class="col-9 col-md-7 col-lg-6">
					<h5 class="text-dark">IIN Frontiers in Nanotechnology Seminar Series: Michelle Personick</h5>
				</div>
				<div class="d-none d-md-block col-md-4 offset-lg-1">
					<p class="mb-15">Pancoe-NSUHS Life Sciences Pavilion</p>
					<p class="text-dark-light m-0">Evanston, IL</p>
				</div>
			</div>
			<hr class="horizontal-rule m-0">
		</div>
	</section>
	<section class="particle-section bg-light">
		<div class="container">
			<div class="row h-100">
				<div id="waves-wrapper"></div>
				<div class="col-md-6 offset-md-5 my-auto">
					<h2 class="mb-3">Help fulfill the promise of nanotechnology</h2>
					<p class="lead mb-3">IIN welcomes donor contributions to help build the future of nanotechnology. With your support, the world-changing potential of nanotechnology can be fully realized.</p>
					<a class="btn btn-primary" href="#" role="button">Make a contribution</a>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer_alt}}
{{> ../footer/_foot}}
