{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-5 col-lg-4">
					<h1 class="mb-sm-0">Nanotechnology</h1>
				</div>
				<div class="col-sm-8 col-sm-7 col-lg-8">
					<p class="h3 text-dark mb-3">Nanotechnology is the engineering of functional systems at the molecular scale (nanoscale), to make new materials and devices with a vast range of applications.</p>
				</div>
			</div>
			<hr class="footer-rule">
			<div class="row">
				<div class="col-sm-8 col-sm-7 col-lg-8">
					<p class="h2 text-dark-light mt-6 mb-4">What impact can nanotechnology have on the world?</p>
				</div>
			</div>
		</div>
	</section>
	<section class="pin-section">
		<div class="container">
			<div class="row h-100">
				<div class="pinned-image">
					<div class="pin-scene hover-caption first">
						<div class="pin-caption">
							<p>Image caption–description should not exceed 140 characters in length. Placeholder text lorem ipsum nullam quisante etiam is amet lipsu null.</p>
						</div>
						<img src="../images/nanotechnology-image-1.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-sm-5 my-auto">
					<h3>Environment</h3>
					<p class="lead">Description of application that is short, concise, and in easily understandable. 900 character limit — lorem ipsum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend acenim.</p>
					<p class="lead">Description of research that is short, concise, and in easily understandable. 900 character limit — lorem ipsum sociis natoque penatibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor is consequat vitae</p>
				</div>
			</div>
		</div>
	</section>
	<section class="pin-section">
		<div class="container">
			<div class="row h-100">
				<div class="pinned-image">
					<div class="pin-scene hover-caption">
						<div class="pin-caption">
							<p>Image caption–description should not exceed 140 characters in length. Placeholder text lorem ipsum nullam quisante etiam is amet lipsu null.</p>
						</div>
						<img src="../images/nanotechnology-image-2.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-sm-5 my-auto">
					<h3>Medicine</h3>
					<p class="lead">Researchers are looking to nanotechnology to develop highly sensitive disease detectors, drug delivery systems that only target the disease and not the surrounding healthy tissue, and nanoscale building blocks that help repair skin, cartilage, and/or bone. The U.S. National Nanotechnology Initiative has identified the detection, diagnosis and treatment of disease as “grand challenges” for nanotechnology.</p>
					<p class="lead">Researchers are also investigating the use of nanotechnology to keep the body from rejecting artificial parts, and to stimulate the body to regrow bone and other types of tissue.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="pin-section">
		<div class="container">
			<div class="row h-100">
				<div class="pinned-image">
					<div class="pin-scene hover-caption">
						<div class="pin-caption">
							<p>Image caption–description should not exceed 140 characters in length. Placeholder text lorem ipsum nullam quisante etiam is amet lipsu null.</p>
						</div>
						<img src="../images/nanotechnology-image-3.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-sm-5 my-auto">
					<h3>Energy</h3>
					<p class="lead">Description of application that is short, concise, and in easily understandable. 900 character limit — lorem ipsum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend acenim.</p>
					<p class="lead">Description of research that is short, concise, and in easily understandable. 900 character limit — lorem ipsum sociis natoque penatibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor is consequat vitae</p>
				</div>
			</div>
		</div>
	</section>
	<section class="pin-section">
		<div class="container">
			<div class="row h-100">
				<div class="pinned-image">
					<div class="pin-scene hover-caption">
						<div class="pin-caption">
							<p>Image caption–description should not exceed 140 characters in length. Placeholder text lorem ipsum nullam quisante etiam is amet lipsu null.</p>
						</div>
						<img src="../images/nanotechnology-image-4.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-sm-5 my-auto">
					<h3>Security & Defense</h3>
					<p class="lead">Emerging nanotechnologies are expected to play a critical role in helping to maintain national security. They include new and powerful biodetection schemes that can analyze a potential bioterrorism threat at the point-of-care, materials that can detoxify an area or human exposed to a set of toxins, and novel ways of encoding structures that can be used to secure computer systems.</p>
					<p class="lead">Another area of great importance to national security is that of protecting our troops. Research is underway to use nanotechnology to create uniforms and gear that will protect and heal the foot soldiers of the future.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="pin-section-left bg-primary text-white">
		<div class="container">
			<div class="row h-100">
				<div class="unpin-slide"></div>
				<div class="pinned-image-left">
					<img src="../images/nanotechnology-image-5.png" class="img-fluid" alt="">
				</div>
				<div class="col-sm-4 offset-sm-7 offset-md-8 mt-4 mb-6 my-sm-auto">
					<h3>Our work</h3>
					<p class="lead">The IIN are exploring numerous applications of nantechnology through our many research initiatives. Our research is organzind in distinct fields that are each focused on a critical societal issue.</p>
					<a href="#" class="lead underline">Learn about our research</a>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer_alt}}
{{> ../footer/_foot}}
