{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero" class="pb-2">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-5 col-lg-4">
					<h1 class="mb-sm-3">Nano 101</h1>
					<div id="stickybit-parent" class="row">
						<div class="col-12">
							<nav id="peopleNav" class="sidebar-nav d-none d-sm-block">
								<ul class="nav flex-column">
									<li class="nav-item mb-1">
										<a class="js-scroll-trigger" href="#history">History</a>
									</li>
									<li class="nav-item mb-1">
										<a class="js-scroll-trigger" href="#glossary">Glossary</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-md-7 col-lg-8">
					<p class="h5 text-dark mb-5">Placeholder text, lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur.</p>
					<nav id="peopleNav" class="sidebar-nav d-block d-sm-none">
						<ul class="nav flex-column">
							<li class="nav-item mb-1">
								<a class="js-scroll-trigger" href="#history">History</a>
							</li>
							<li class="nav-item mb-1">
								<a class="js-scroll-trigger" href="#glossary">Glossary</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>

	<section id="history" class="mb-6">
		<div class="text-white bg-primary pt-3 pb-3 pb-sm-6">
			<div class="container">
				<div class="row h-100">
					<div class="col">
						<div class="row">
							<div class="col timeline-section">
								<h3 class="mb-3">History of Nanotechnology</h3>
								<!-- Swiper Pagination -->
								<div class="timeline-pagination swiper-pagination"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid container-max margin-offset-top timeline-slider-section">
			<div class="swiper-nano101 swiper-container bg-shadow">
				<div class="swiper-wrapper">
					<!-- Slider 1 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>1-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 2 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>2-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 3 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>3-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 4 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>4-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 5 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>5-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 6 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>6-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 7 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>7-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 8 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>8-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 9 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>9-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 10 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>10-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 11 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>11-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 12 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>12-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 13 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>13-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 14 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>14-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider 15 -->
					<div class="swiper-slide">
						<div class="row h-100">
							<div class="col">
								<div class="bg-white">
									<div class="row">
										<div class="col-sm-6 timeline-image-left">
											<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
										</div>
										<div class="col-sm-6 offset-sm-5 col-md-5 offset-md-6 pt-3 pb-5">
											<div class="row">
												<div class="col-auto">
													<h3>15-1827</h3>
												</div>
												<div class="col-auto ml-auto">
													<div class="pagination-section">
														<div class="cs-swiper-button-prev swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_back</title><polygon points="7 0 8.5 1.5 3.83 6 24 6 24 8 3.83 8 8.5 12.5 7 14 0 7 7 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
														<div class="cs-swiper-button-next swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14"><title>arrow_forward</title><polygon points="17 0 15.5 1.5 20.17 6 0 6 0 8 20.17 8 15.5 12.5 17 14 24 7 17 0" fill="#68748D" fill-rule="evenodd"/></svg></div>
													</div>
												</div>
											</div>
											<p class="h5">The first successful photograph is produced. An early example of nanotechnology, photography depends on the production of silver nanoparticles sensitive to light.</p>
											<div class="row">
												<div class="col-2">
													<hr class="horizontal-rule-secondary mt-1 mb-2">
												</div>
											</div>
											<p>Lorem ipsum dolor sit amet con sectetuer adipiscing elit. Aenean commodo and ligula eget dolor penati mus. Magnis dis parturient montes for nascetur. They discovered that nano-sized magnetic particles of iron that were given a chemical coating, or surfactant, that prevented them from clumping together could be dispersed in oil or water. They could then control the location of the fluid (called a ferrofluid) with a magnet.</p>
											<p>On Earth, ferrofluids are used inside loudspeakers, where they help keep the inner parts cool. They are also used on computer hard drives and in semiconductor manufacturing, as seals to keep out the dust and other contaminants.</p>
											<p>Nanotechnologists want to harness ferrofluids for other important uses such as developing tiny sensors, or inside the body as biomedical devices to deliver drugs, absorb toxins, or treat hypothermia. It is even possible that ferrofluids could be used to help clean up hazardous waste spills.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="glossary">
		<div class="container glossary">
			<div class="row">
				<div class="col">
					<h4 class="mb-3">Glossary</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-9 col-sm-10 col-sm-11">
					<div class="row">
						<div id="a" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">A</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<div class="card">
										<div class="card-header" id="headingA">
											<p class="mb-0 text-primary">
												<a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseA" aria-expanded="false" aria-controls="collapseA">
													Aerogel
												</a>
											</p>
										</div>
										<div id="collapseA" class="collapse" aria-labelledby="headingA" data-parent="#collapseA">
											<div class="card-body">
												<div class="row">
													<div class="col mt-1">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis purus ac nisi tincidunt aliquam. Nam vestibulum elit lectus, non venenatis erat imperdiet ac. Fusce nec lacus scelerisque, porttitor odio id.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="nav-item">
									<div class="card">
										<div class="card-header" id="headingA">
											<p class="mb-0 text-primary">
												<a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseB" aria-expanded="false" aria-controls="collapseB">
													Aerosol
												</a>
											</p>
										</div>
										<div id="collapseB" class="collapse" aria-labelledby="headingB" data-parent="#collapseB">
											<div class="card-body">
												<div class="row">
													<div class="col mt-1">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis purus ac nisi tincidunt aliquam. Nam vestibulum elit lectus, non venenatis erat imperdiet ac. Fusce nec lacus scelerisque, porttitor odio id.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="nav-item">
									<a href="#">Aggregation</a>
								</li>
								<li class="nav-item">
									<a href="#">Alkali metals</a>
								</li>
								<li class="nav-item">
									<a href="#">Alumina</a>
								</li>
								<li class="nav-item">
									<a href="#">Aluminum</a>
								</li>
								<li class="nav-item">
									<a href="#">Atomic force microscope (AFM)</a>
								</li>
							</ul>
						</div>
						<div id="b" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">B</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Biomimetics</a>
								</li>
								<li class="nav-item">
									<a href="#">Biopolymer</a>
								</li>
								<li class="nav-item">
									<a href="#">Biosensor</a>
								</li>
								<li class="nav-item">
									<a href="#">Biosynthesis</a>
								</li>
								<li class="nav-item">
									<a href="#">Block copolymers</a>
								</li>
								<li class="nav-item">
									<a href="#">Buckyball</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="c" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">C</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Carbon</a>
								</li>
								<li class="nav-item">
									<a href="#">Carbon nanotubes</a>
								</li>
								<li class="nav-item">
									<a href="#">Cell</a>
								</li>
								<li class="nav-item">
									<a href="#">Cell adhesion</a>
								</li>
								<li class="nav-item">
									<a href="#">Cell recognition</a>
								</li>
								<li class="nav-item">
									<a href="#">Characterization</a>
								</li>
								<li class="nav-item">
									<a href="#">Chemical vapor deposition (CVD)</a>
								</li>
								<li class="nav-item">
									<a href="#">Chemical vapor transport</a>
								</li>
								<li class="nav-item">
									<a href="#">Chemisorption</a>
								</li>
								<li class="nav-item">
									<a href="#">Colloids</a>
								</li>
								<li class="nav-item">
									<a href="#">Composite</a>
								</li>
								<li class="nav-item">
									<a href="#">Computational chemistry</a>
								</li>
								<li class="nav-item">
									<a href="#">Copolymerization</a>
								</li>
								<li class="nav-item">
									<a href="#">Crystallography</a>
								</li>
							</ul>
						</div>
						<div id="d" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">D</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Dendrimer</a>
								</li>
								<li class="nav-item">
									<a href="#">Dip-pen nanolithography (DPN)</a>
								</li>
								<li class="nav-item">
									<a href="#">DNA (deoxyribonucleic acid)</a>
								</li>
								<li class="nav-item">
									<a href="#">DNA cleavage</a>
								</li>
								<li class="nav-item">
									<a href="#">DNA recognition</a>
								</li>
								<li class="nav-item">
									<a href="#">DNA replication</a>
								</li>
								<li class="nav-item">
									<a href="#">DNA structures</a>
								</li>
								<li class="nav-item">
									<a href="#">Doping</a>
								</li>
								<li class="nav-item">
									<a href="#">Drug delivery</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="e" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">E</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Electrochemical methods</a>
								</li>
								<li class="nav-item">
									<a href="#">Electrochemical properties</a>
								</li>
								<li class="nav-item">
									<a href="#">Electroluminescence (EL)</a>
								</li>
								<li class="nav-item">
									<a href="#">Electron diffraction</a>
								</li>
								<li class="nav-item">
									<a href="#">Electron microscopy</a>
								</li>
								<li class="nav-item">
									<a href="#">Electron transfer</a>
								</li>
								<li class="nav-item">
									<a href="#">Electron transport</a>
								</li>
								<li class="nav-item">
									<a href="#">Electron tunneling</a>
								</li>
								<li class="nav-item">
									<a href="#">Electro-optics</a>
								</li>
								<li class="nav-item">
									<a href="#">Electrophoresis</a>
								</li>
								<li class="nav-item">
									<a href="#">Encapsulation</a>
								</li>
								<li class="nav-item">
									<a href="#">Epitaxyx</a>
								</li>
								<li class="nav-item">
									<a href="#">Excited states</a>
								</li>
							</ul>
						</div>
						<div id="f" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">F</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Ferroelectrics</a>
								</li>
								<li class="nav-item">
									<a href="#">Ferrofluid</a>
								</li>
								<li class="nav-item">
									<a href="#">Ferromagnetic materials</a>
								</li>
								<li class="nav-item">
									<a href="#">Ferromagnetism</a>
								</li>
								<li class="nav-item">
									<a href="#">Field effect</a>
								</li>
								<li class="nav-item">
									<a href="#">Field emission</a>
								</li>
								<li class="nav-item">
									<a href="#">Fluorescence</a>
								</li>
								<li class="nav-item">
									<a href="#">Fluorescence spectroscopy</a>
								</li>
								<li class="nav-item">
									<a href="#">Fluorescent probe</a>
								</li>
								<li class="nav-item">
									<a href="#">Fuel cell</a>
								</li>
								<li class="nav-item">
									<a href="#">Fullerene</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="g" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">G</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Gas-phase reactions</a>
								</li>
								<li class="nav-item">
									<a href="#">Gene expression</a>
								</li>
								<li class="nav-item">
									<a href="#">Gene sequencing</a>
								</li>
								<li class="nav-item">
									<a href="#">Gene technology</a>
								</li>
								<li class="nav-item">
									<a href="#">Genomics</a>
								</li>
								<li class="nav-item">
									<a href="#">Green chemistry</a>
								</li>
							</ul>
						</div>
						<div id="h" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">H</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Heterogeneous catalysis</a>
								</li>
								<li class="nav-item">
									<a href="#">High throughput screening (HTS)</a>
								</li>
								<li class="nav-item">
									<a href="#">Homogeneous catalysis</a>
								</li>
								<li class="nav-item">
									<a href="#">Hydrogen bonding</a>
								</li>
								<li class="nav-item">
									<a href="#">Hydrophilic effect</a>
								</li>
								<li class="nav-item">
									<a href="#">Hydrophobic effect</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="i" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">I</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Infrared (IR) spectroscopy</a>
								</li>
								<li class="nav-item">
									<a href="#">Ion channel</a>
								</li>
								<li class="nav-item">
									<a href="#">Ion conductors</a>
								</li>
							</ul>
						</div>
						<div id="j" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">J</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Junctions</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="k" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">K</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<p class="text-light">No entries</p>
								</li>
							</ul>
						</div>
						<div id="l" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">L</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Lab-on-a-chip devices</a>
								</li>
								<li class="nav-item">
									<a href="#">Langmuir-blodgett (LB) films</a>
								</li>
								<li class="nav-item">
									<a href="#">Lattice</a>
								</li>
								<li class="nav-item">
									<a href="#">Led (light-emitting diode)</a>
								</li>
								<li class="nav-item">
									<a href="#">Liposome</a>
								</li>
								<li class="nav-item">
									<a href="#">Liquid phase separation</a>
								</li>
								<li class="nav-item">
									<a href="#">Lithography</a>
								</li>
								<li class="nav-item">
									<a href="#">Luminescence</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="m" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">M</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Macromolecule</a>
								</li>
								<li class="nav-item">
									<a href="#">Magnetism</a>
								</li>
								<li class="nav-item">
									<a href="#">Mass spectrometer</a>
								</li>
								<li class="nav-item">
									<a href="#">Microcontact printing</a>
								</li>
								<li class="nav-item">
									<a href="#">Microfluidic device</a>
								</li>
								<li class="nav-item">
									<a href="#">Microfluidics</a>
								</li>
								<li class="nav-item">
									<a href="#">Micromachining</a>
								</li>
								<li class="nav-item">
									<a href="#">Micromolding</a>
								</li>
								<li class="nav-item">
									<a href="#">MOCVD (Metal-Organic Chemical Vapor Deposition)</a>
								</li>
								<li class="nav-item">
									<a href="#">Molecular beam epitaxy</a>
								</li>
								<li class="nav-item">
									<a href="#">Molecular imprinting</a>
								</li>
								<li class="nav-item">
									<a href="#">Monomer</a>
								</li>
							</ul>
						</div>
						<div id="n" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">N</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Nanocharacterization</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanocomposites</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanocrystalline materials</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanoelectromechanical Systems (NEMS)</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanofiber</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanofluidics</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanolithography</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanomanipulation</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanomaterials</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanometer</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanoparticles</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanoporous materials</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanoshell</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanostructures</a>
								</li>
								<li class="nav-item">
									<a href="#">Nanotubes</a>
								</li>
								<li class="nav-item">
									<a href="#">NMR (Nuclear Magnetic Resonance) pectroscopy</a>
								</li>
								<li class="nav-item">
									<a href="#">Noncovalent interactions</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="o" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">O</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Oxidation</a>
								</li>
							</ul>
						</div>
						<div id="p" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">P</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Phase</a>
								</li>
								<li class="nav-item">
									<a href="#">Phase diagram</a>
								</li>
								<li class="nav-item">
									<a href="#">Phase transport</a>
								</li>
								<li class="nav-item">
									<a href="#">Photoluminescence</a>
								</li>
								<li class="nav-item">
									<a href="#">Piezoelectrics</a>
								</li>
								<li class="nav-item">
									<a href="#">Polymer</a>
								</li>
								<li class="nav-item">
									<a href="#">Polymerase chain reaction</a>
								</li>
								<li class="nav-item">
									<a href="#">Polymorphism</a>
								</li>
								<li class="nav-item">
									<a href="#">Protein</a>
								</li>
								<li class="nav-item">
									<a href="#">Proteomics</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="q" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">Q</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Quantum confinement effect</a>
								</li>
								<li class="nav-item">
									<a href="#">Quantum dot</a>
								</li>
							</ul>
						</div>
						<div id="r" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">R</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Raman spectroscopy</a>
								</li>
								<li class="nav-item">
									<a href="#">Reduction</a>
								</li>
								<li class="nav-item">
									<a href="#">Resists</a>
								</li>
								<li class="nav-item">
									<a href="#">RNA (ribonucleic acid)</a>
								</li>
								<li class="nav-item">
									<a href="#">RNA structures</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="s" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">S</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Scaffold</a>
								</li>
								<li class="nav-item">
									<a href="#">Scanning Probe Microscopy (SPM)</a>
								</li>
								<li class="nav-item">
									<a href="#">Scanning Tunneling Microscope (STM)</a>
								</li>
								<li class="nav-item">
									<a href="#">Second-Harmonic Generation (SHG)</a>
								</li>
								<li class="nav-item">
									<a href="#">Self-Assembled Monolayers (SAMs)</a>
								</li>
								<li class="nav-item">
									<a href="#">Self-assembly</a>
								</li>
								<li class="nav-item">
									<a href="#">Simulation</a>
								</li>
								<li class="nav-item">
									<a href="#">Single-molecule studies</a>
								</li>
								<li class="nav-item">
									<a href="#">Single-source precursors</a>
								</li>
								<li class="nav-item">
									<a href="#">Sol-gel materials</a>
								</li>
								<li class="nav-item">
									<a href="#">Sol-gel process</a>
								</li>
								<li class="nav-item">
									<a href="#">Solid-state reactions</a>
								</li>
								<li class="nav-item">
									<a href="#">Substrate</a>
								</li>
								<li class="nav-item">
									<a href="#">Superconductor</a>
								</li>
								<li class="nav-item">
									<a href="#">Superhydrophobicity</a>
								</li>
								<li class="nav-item">
									<a href="#">Synthesis</a>
								</li>
								<li class="nav-item">
									<a href="#">Synthetic methods</a>
								</li>
							</ul>
						</div>
						<div id="t" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">T</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Template</a>
								</li>
								<li class="nav-item">
									<a href="#">Template synthesis</a>
								</li>
								<li class="nav-item">
									<a href="#">Thin film</a>
								</li>
								<li class="nav-item">
									<a href="#">Transmission Electron Microscopy (TEM)</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="u" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">U</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">UV/VIS (Ultraviolet-Visible) Spectroscopy/Spectrophotometry</a>
								</li>
							</ul>
						</div>
						<div id="v" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">V</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Vesicles</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="w" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">W</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">Wetting</a>
								</li>
							</ul>
						</div>
						<div id="x" class="col-sm-5 rule-bottom">
							<p class="h3 text-dark-light mb-2">X</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<a href="#">X-ray analysis</a>
								</li>
								<li class="nav-item">
									<a href="#">X-ray diffraction</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div id="y" class="col-sm-5">
							<p class="h3 text-dark-light mb-2">Y</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<p class="light">No entries</p>
								</li>
							</ul>
						</div>
						<div id="z" class="col-sm-5">
							<p class="h3 text-dark-light mb-2">Z</p>
							<ul class="nav bold flex-sm-column">
								<li class="nav-item">
									<p class="light">No entries</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-3 col-sm-2 col-sm-1 text-right text-sm-left">
					<!-- <div id="stickybit-glossary"> -->
						<nav id="glossaryNav">
							<ul class="nav flex-column">
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#a">A</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#b">B</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#c">C</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#d">D</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#e">E</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#f">F</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#g">G</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#h">H</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#i">I</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#j">J</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger disabled" href="#k">K</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#l">L</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#m">M</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#n">N</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#o">O</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#p">P</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#q">Q</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#r">R</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#s">S</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#t">T</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#u">U</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#v">V</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#w">W</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger" href="#x">X</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger disabled" href="#y">Y</a>
								</li>
								<li class="nav-item mb-1">
									<a class="js-scroll-trigger disabled" href="#z">Z</a>
								</li>
							</ul>
						</nav>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}
