{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h1 class="mb-md-3">News</h1>
					<hr class="horizontal-rule">
					<div id="stickybit-parent" class="row">
						<div class="col-12">
							<div id="newsNav" class="sidebar-nav">
								<ul id="filters" class="button-group list-unstyled">
									<li class="button is-checked" data-filter="*">All</li>
								  <li class="button" data-filter=".research">Research</li>
								  <li class="button" data-filter=".awards">Awards & Honors</li>
								  <li class="button" data-filter=".nanotech">Nanotech at Northwestern</li>
								  <li class="button" data-filter=".events">Events</li>
								  <li class="button" data-filter=".multimedia">Multimedia</li>
								</div>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="isotope">

						<!-- Feature style -->
					  <div class="element-item featured-item research ">
							<div class="pinned-color-news"></div>
							<div class="text-white pt-sm-5 pb-sm-4">
								<div class="row">
									<div class="col-sm-6">
										<img src="../images/news-feature-1.png" class="img-fluid" alt="">
									</div>
									<div class="col-sm-6 pl-sm-4">
										<p class="small">Research</p>
										<h4 class="mb-sm-3">Tiny, Biocompatible Nanolaser Could Function Inside Living Tissues</h4>
										<p class="lead">Optional subheadline - should not exceed 140 characters in length lorem ipsum dolor sit amet parturient and donec quam felis ultricies.</p>
									</div>
								</div>
							</div>
					  </div>

						<!-- Thumbnail style -->
						<div class="element-item awards research ">
							<div class="row">
								<div class="col-md-9 pr-md-3">
									<p class="small text-dark-light mb-15">Awards & Honors · Research</p>
									<h5>Article Titles Should Not Exceed 120 Characters in Length – Lorem Ipsum Dolor Sit Amet, Cons ectetuer Adipiscing Elit Enea</h5>
									<p class="x-small text-dark-light mb-15 mt-auto mb-0">OCT 27, 2019</p>
								</div>
								<div class="col-md-3 pl-md-0">
									<img src="../images/news-image-1.png" class="img-fluid" alt="">
								</div>
							</div>
					  </div>
						<div class="element-item research ">
							<div class="row">
								<div class="col-md-9 pr-md-3">
									<p class="small text-dark-light mb-15">Research</p>
									<h5>Northwestern Researchers Develop a Metal Film (With a Bit of Rust) That Generates Power When Interacting With Water</h5>
									<p class="x-small text-dark-light mb-15 mt-auto mb-0">OCT 27, 2019</p>
								</div>
								<div class="col-md-3 pl-md-0">
									<img src="../images/news-image-2.png" class="img-fluid" alt="">
								</div>
							</div>
					  </div>
						<div class="element-item nanotech ">
							<div class="row">
								<div class="col-md-9 pr-md-3">
									<p class="small text-dark-light mb-15">Nanotech at Northwestern</p>
									<h5>Meet Wei Cao, a Postdoctoral Scholar in Nathan Gianneschi’s Group</h5>
									<p class="x-small text-dark-light mb-15 mt-auto mb-0">OCT 27, 2019</p>
								</div>
								<div class="col-md-3 pl-md-0">
									<img src="../images/news-image-3.png" class="img-fluid" alt="">
								</div>
							</div>
						</div>

						<!-- List style -->
						<div class="element-item events ">
							<div class="row">
								<div class="col-md-3">
									<p class="small text-dark-light mb-15">Events</p>
								</div>
								<div class="col-md-9">
									<h5>Nobel Laureate Stefan Hell Among Internationally-Renowned Researchers Speaking at 2019 IIN Symposium</h5>
								</div>
							</div>
						</div>
						<div class="element-item research multimedia ">
							<div class="row">
								<div class="col-md-3">
									<p class="small text-dark-light mb-15">Research</p>
									<p class="small text-dark-light mb-15">Multimedia</p>
								</div>
								<div class="col-md-9">
									<h5>PBS features Professor John Rogers’ “new medical technologies”</h5>
								</div>
							</div>
						</div>
						<div class="element-item research ">
							<div class="row">
								<div class="col-md-3">
									<p class="small text-dark-light mb-15">Research</p>
								</div>
								<div class="col-md-9">
									<h5>David Giljohann, CEO of IIN-startup Exicure, discusses SNAs and immunotherapy: ‘the new new in modern medical miracles’</h5>
								</div>
							</div>
						</div>
						<div class="element-item awards nanotech ">
							<div class="row">
								<div class="col-md-3">
									<p class="small text-dark-light mb-15">Awards & Honors</p>
									<p class="small text-dark-light mb-15">Nanotech at Northwestern</p>
								</div>
								<div class="col-md-9">
									<h5>Article Titles Should Not Exceed 120 Characters in Length – Lorem Ipsum Dolor Sit Amet</h5>
								</div>
							</div>
						</div>
						<div class="element-item research ">
							<div class="row">
								<div class="col-md-3">
									<p class="small text-dark-light mb-15">Research</p>
								</div>
								<div class="col-md-9">
									<h5>Tobin Marks is elected to the European Academy of Sciences</h5>
								</div>
							</div>
						</div>
						<div class="element-item research ">
							<div class="row">
								<div class="col-md-3">
									<p class="small text-dark-light mb-15">Research</p>
								</div>
								<div class="col-md-9">
									<h5>Tobin Marks is elected to the European Academy of Sciences</h5>
								</div>
							</div>
						</div>
						<div class="element-item research ">
							<div class="row">
								<div class="col-md-3">
									<p class="small text-dark-light mb-15">Research</p>
								</div>
								<div class="col-md-9">
									<h5>Tobin Marks is elected to the European Academy of Sciences</h5>
								</div>
							</div>
						</div>
						<div class="element-item research ">
							<div class="row">
								<div class="col-md-3">
									<p class="small text-dark-light mb-15">Research</p>
								</div>
								<div class="col-md-9">
									<h5>Tobin Marks is elected to the European Academy of Sciences</h5>
								</div>
							</div>
						</div>
						<div class="element-item research ">
							<div class="row">
								<div class="col-md-3">
									<p class="small text-dark-light mb-15">Research</p>
								</div>
								<div class="col-md-9">
									<h5>Tobin Marks is elected to the European Academy of Sciences</h5>
								</div>
							</div>
						</div>
						<div class="element-item research ">
							<div class="row">
								<div class="col-md-3">
									<p class="small text-dark-light mb-15">Research</p>
								</div>
								<div class="col-md-9">
									<h5>Tobin Marks is elected to the European Academy of Sciences</h5>
								</div>
							</div>
						</div>
						<div class="element-item research ">
							<div class="row">
								<div class="col-md-3">
									<p class="small text-dark-light mb-15">Research</p>
								</div>
								<div class="col-md-9">
									<h5>Tobin Marks is elected to the European Academy of Sciences</h5>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}
