{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-5 col-lg-4">
					<h1 class="mb-md-3">People</h1>
					<div id="stickybit-parent" class="row">
						<div class="col-12">
							<nav id="peopleNav" class="sidebar-nav d-none d-sm-block">
								<ul class="nav flex-column">
									<li class="nav-item mb-1">
										<a class="js-scroll-trigger" href="#executivecouncil">Executive Council</a>
									</li>
									<li class="nav-item mb-1">
										<a class="js-scroll-trigger" href="#steeringcommittee">Steering Committee</a>
									</li>
									<li class="nav-item mb-1">
										<a class="js-scroll-trigger" href="#administration">Administration</a>
									</li>
									<li class="nav-item mb-1">
										<a class="js-scroll-trigger" href="#affiliatedfaculty">Affiliated Faculty</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-md-7 col-lg-8">
					<p class="h3 text-dark mb-5">The IIN is made up of extraordinary people: from world-renowned researchers and their students, to forward-thinking industry leaders and outstanding administrators.</p>
					<nav id="peopleNav" class="sidebar-nav d-block d-sm-none">
						<ul class="nav flex-column">
							<li class="nav-item mb-1">
								<a class="js-scroll-trigger" href="#executivecouncil">Executive Council</a>
							</li>
							<li class="nav-item mb-1">
								<a class="js-scroll-trigger" href="#steeringcommittee">Steering Committee</a>
							</li>
							<li class="nav-item mb-1">
								<a class="js-scroll-trigger" href="#administration">Administration</a>
							</li>
							<li class="nav-item mb-1">
								<a class="js-scroll-trigger" href="#affiliatedfaculty">Affiliated Faculty</a>
							</li>
						</ul>
					</nav>
					<hr class="horizontal-rule">
					<div id="executivecouncil" class="row">
						<div class="col">
							<h4 class="mb-3">Executive Council</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Chad A. Mirkin</h6>
								<p class="text-dark-light small">George B. Rathmann Professor of Chemistry</p>
							</a>
						</div>
						<!-- Team Modal Sample 1:Start -->
						<div class="team-modal modal fade" id="teammodal" tabindex="-1" role="dialog" aria-labelledby="teammodal" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered mr-0" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>close</title><polygon points="24 1.41 22.59 0 12 10.59 1.41 0 0 1.41 10.59 12 0 22.59 1.41 24 12 13.41 22.59 24 24 22.59 13.41 12 24 1.41" fill="#623D99" fill-rule="evenodd"/></svg></span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-sm-4 col-lg-3">
												<img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
											</div>
											<div class="col-sm-8 col-lg-9">
												<h4 class="modal-title text-dark">Chad A. Mirkin</h4>
												<h6 class="text-dark-light">George B. Rathmann Professor of Chemistry</h6>
												<div class="overflow-body">
													<p>Chad A. Mirkin, Ph.D., is the Director of the International Institute for Nanotechnology and the George B. Rathmann Professor of Chemistry. Mirkin also is a professor of chemical and biological engineering, biomedical engineering, materials science & engineering, and medicine at Northwestern University.</p>
													<p>Mirkin is a chemist and world-renowned nanoscience expert who is known for his discovery and development of spherical nucleic acids (SNAs), and the many medical diagnostic, therapeutic, and materials applications that have derived from them; Dip-Pen Nanolithography (recognized by National Geographic as one of the "top 100 scientific discoveries that changed the world"); and numerous other contributions to supramolecular chemistry. Mirkin is the author of more than 730 manuscripts and over 1,100 patent applications worldwide (over 330 issued), and the founder of multiple companies, including: AuraSense, Exicure, TERA-print and Azul 3D.</p>
													<p>He is one of very few scientists elected into all three branches of the U.S. National Academies (Medicine, Science, and Engineering). He served for eight years a member of the President's Council of Advisors on Science and Technology under President Barack Obama. He has been recognized for his accomplishments with more than 210 national and international awards</p>
													<p>Chad A. Mirkin, Ph.D., is the Director of the International Institute for Nanotechnology and the George B. Rathmann Professor of Chemistry. Mirkin also is a professor of chemical and biological engineering, biomedical engineering, materials science & engineering, and medicine at Northwestern University.</p>
													<p>Mirkin is a chemist and world-renowned nanoscience expert who is known for his discovery and development of spherical nucleic acids (SNAs), and the many medical diagnostic, therapeutic, and materials applications that have derived from them; Dip-Pen Nanolithography (recognized by National Geographic as one of the "top 100 scientific discoveries that changed the world"); and numerous other contributions to supramolecular chemistry. Mirkin is the author of more than 730 manuscripts and over 1,100 patent applications worldwide (over 330 issued), and the founder of multiple companies, including: AuraSense, Exicure, TERA-print and Azul 3D.</p>
													<p>He is one of very few scientists elected into all three branches of the U.S. National Academies (Medicine, Science, and Engineering). He served for eight years a member of the President's Council of Advisors on Science and Technology under President Barack Obama. He has been recognized for his accomplishments with more than 210 national and international awards</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Team Modal Sample 1:End -->
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Henry S. Bienen</h6>
								<p class="text-dark-light small">Northwestern University - President Emeritus</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">David G. Kabiller</h6>
								<p class="text-dark-light small">AQR Capital Management, LLC - Founding Principal</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Patrick G. Ryan</h6>
								<p class="text-dark-light small">Ryan Specialty Group, LLC - Chairman and CEO</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">David B. Weinberg</h6>
								<p class="text-dark-light small">Judd Enterprises, Inc. - Chairman and Chief Executive Officer</p>
							</a>
						</div>
					</div>
					<hr class="horizontal-rule">
					<div id="steeringcommittee" class="row">
						<div class="col">
							<h4 class="mb-3">Steering Committee</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Chad A. Mirkin</h6>
								<p class="text-dark-light small">Director</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Nathan Gianneschi</h6>
								<p class="text-dark-light small">Assocaite Director</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Vinayak P. Dravid</h6>
								<p class="text-dark-light small">Director of Global Initiatives</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">William Dichtel</h6>
								<p class="text-dark-light small">Robert L. Letsinger Professor of Chemistry</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Jiaxing Huang</h6>
								<p class="text-dark-light small">Professor of Materials Science and Engineering</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Kimberly Gray</h6>
								<p class="text-dark-light small">Chair and Professor of Civil and Environmental Engineering</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Julia Kalow</h6>
								<p class="text-dark-light small">Assistant Professor, Department of Chemistry</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Michael Jewett</h6>
								<p class="text-dark-light small">Professor of Chemical and Biological Engineering</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Milan Mrksich</h6>
								<p class="text-dark-light small">Henry Wade Rogers Professor Biomedical Engineering</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Amy Paller, MD</h6>
								<p class="text-dark-light small">Chair, Department of Dermatology, Northwestern Medicine</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Mark Ratner</h6>
								<p class="text-dark-light small">Professor Emeritus</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Sir Fraser Stoddart</h6>
								<p class="text-dark-light small">Board of Trustees Professor of Chemistry, 2016 Nobel Laureate</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Alexander Stegh</h6>
								<p class="text-dark-light small">Associate Professor of Neurology and Medicine</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Samuel Stupp</h6>
								<p class="text-dark-light small">Board of Trustees Professor of Materials Science,Chemistry, Medicine, and Biomedical Engineering</p>
							</a>
						</div>
					</div>
					<hr class="horizontal-rule">
					<div id="administration" class="row">
						<div class="col">
							<h4 class="mb-3">Administration</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Chad A. Mirkin</h6>
								<p class="text-dark-light small">Director</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Nathan Gianneschi</h6>
								<p class="text-dark-light small">Position Title Placeholder Text</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Vinayak P. Dravid</h6>
								<p class="text-dark-light small">Director of Global Initiatives</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Sarah Petrosko</h6>
								<p class="text-dark-light small">Assistant Director</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Kathleen Cook</h6>
								<p class="text-dark-light small">Chief of Staff</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Debra Chandler</h6>
								<p class="text-dark-light small">Associate Director of Operations</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Michael Kelley</h6>
								<p class="text-dark-light small">Position Title Placeholder Text</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Pamela Watson</h6>
								<p class="text-dark-light small">Position Title Placeholder Text</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Margaret Connolly</h6>
								<p class="text-dark-light small">Position Title Placeholder Text</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Sara Rupich</h6>
								<p class="text-dark-light small">Position Title Placeholder Text</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Jessica Zito</h6>
								<p class="text-dark-light small">Position Title Placeholder Text</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Veronica Durdov</h6>
								<p class="text-dark-light small">Position Title Placeholder Text</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Brooke Sprague</h6>
								<p class="text-dark-light small">Position Title Placeholder Text</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Tanushri Sengupta</h6>
								<p class="text-dark-light small">Position Title Placeholder Text</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Elizabeth Forest</h6>
								<p class="text-dark-light small">Position Title Placeholder Text</p>
							</a>
						</div>
						<div class="col-sm-6 col-lg-4 team-card">
							<a data-toggle="modal" data-target="#teammodal"><img src="https://via.placeholder.com/1000" class="img-fluid team-image" alt="">
								<h6 class="text-primary">Lindsay Haukebo</h6>
								<p class="text-dark-light small">Position Title Placeholder Text</p>
							</a>
						</div>
					</div>
					<hr class="horizontal-rule">
					<div id="affiliatedfaculty" class="row">
						<div class="col">
							<h4 class="mb-3">Affiliated Faculty</h4>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<h5 class="my-1 mt-md-1 mb-md-2">
											<a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												Weinberg College of Arts & Sciences <svg class="collapse-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><polygon points="0 0 24 0 24 24 0 24 0 0" fill="none"/><polygon points="19.7 8.71 18.3 7.29 11.71 13.88 5.12 7.29 3.71 8.71 11.71 16.7 19.7 8.71" fill="#623D99" fill-rule="evenodd"/></svg>
											</a>
										</h5>
									</div>
									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body">
											<div class="row">
												<div class="col">
													<p class="lead">Chemistry</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Molecular Biosciences</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Neurobiology</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 1-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Physics & Astronomy</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr class="horizontal-rule m-0 d-block d-sm-none">
								<div class="card">
									<div class="card-header" id="headingTwo">
										<h5 class="my-1 mt-md-1 mb-md-2">
											<a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												Kellogg School of Management <svg class="collapse-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><polygon points="0 0 24 0 24 24 0 24 0 0" fill="none"/><polygon points="19.7 8.71 18.3 7.29 11.71 13.88 5.12 7.29 3.71 8.71 11.71 16.7 19.7 8.71" fill="#623D99" fill-rule="evenodd"/></svg>
											</a>
										</h5>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											<div class="row">
												<div class="col">
													<p class="lead">Chemistry</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Molecular Biosciences</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Neurobiology</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 1-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Physics & Astronomy</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr class="horizontal-rule m-0 d-block d-sm-none">
								<div class="card">
									<div class="card-header" id="headingThree">
										<h5 class="my-1 mt-md-1 mb-md-2">
											<a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												Feinberg School of Medicine <svg class="collapse-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><polygon points="0 0 24 0 24 24 0 24 0 0" fill="none"/><polygon points="19.7 8.71 18.3 7.29 11.71 13.88 5.12 7.29 3.71 8.71 11.71 16.7 19.7 8.71" fill="#623D99" fill-rule="evenodd"/></svg>
											</a>
										</h5>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">
											<div class="row">
												<div class="col">
													<p class="lead">Chemistry</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Molecular Biosciences</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Neurobiology</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 1-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Physics & Astronomy</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr class="horizontal-rule m-0 d-block d-sm-none">
								<div class="card">
									<div class="card-header" id="headingFour">
										<h5 class="my-1 mt-md-1 mb-md-2">
											<a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
												McCormick School of Engineering & Applied Science <svg class="collapse-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><polygon points="0 0 24 0 24 24 0 24 0 0" fill="none"/><polygon points="19.7 8.71 18.3 7.29 11.71 13.88 5.12 7.29 3.71 8.71 11.71 16.7 19.7 8.71" fill="#623D99" fill-rule="evenodd"/></svg>
											</a>
										</h5>
									</div>
									<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
										<div class="card-body">
											<div class="row">
												<div class="col">
													<p class="lead">Chemistry</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Molecular Biosciences</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Neurobiology</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 1-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p class="lead">Physics & Astronomy</p>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<ul class="nav bold flex-md-column 3-col">
														<li class="nav-item">
															<a href="#">Lin X. Chen</a>
														</li>
														<li class="nav-item">
															<a href="#">William Dichtel</a>
														</li>
														<li class="nav-item">
															<a href="#">Danna Freedman</a>
														</li>
														<li class="nav-item">
															<a href="#">Nathan Gianneschi</a>
														</li>
														<li class="nav-item">
															<a href="#">Franz Geiger</a>
														</li>
														<li class="nav-item">
															<a href="#">Todd Gingrich</a>
														</li>
														<li class="nav-item">
															<a href="#">Elad Harel</a>
														</li>
														<li class="nav-item">
															<a href="#">T. David Harris</a>
														</li>
														<li class="nav-item">
															<a href="#">Brian Hoffman</a>
														</li>
														<li class="nav-item">
															<a href="#">Joseph Hupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Julia Kalow</a>
														</li>
														<li class="nav-item">
															<a href="#">Mercouri Kanatzidis</a>
														</li>
														<li class="nav-item">
															<a href="#">John Rogers</a>
														</li>
														<li class="nav-item">
															<a href="#">Amy Rosenzweig</a>
														</li>
														<li class="nav-item">
															<a href="#">George Schatz</a>
														</li>
														<li class="nav-item">
															<a href="#">Karl Scheidt</a>
														</li>
														<li class="nav-item">
															<a href="#">Tamar Seideman</a>
														</li>
														<li class="nav-item">
															<a href="#">Toru Shiozaki</a>
														</li>
														<li class="nav-item">
															<a href="#">Richard Silverman</a>
														</li>
														<li class="nav-item">
															<a href="#">Peter Stair</a>
														</li>
														<li class="nav-item">
															<a href="#">Sir Fraser Stoddart</a>
														</li>
														<li class="nav-item">
															<a href="#">Samuel Stupp</a>
														</li>
														<li class="nav-item">
															<a href="#">Igal Szleifer</a>
														</li>
														<li class="nav-item">
															<a href="#">Michael Wasielewski</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
														<li class="nav-item">
															<a href="#">Emily Weiss</a>
														</li>
														<li class="nav-item">
															<a href="#">Eric Weitz</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}
