{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
	<section id="hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-5 col-lg-4">
					<h1 class="mb-md-0">Research</h1>
				</div>
				<div class="col-sm-8 col-sm-7 col-lg-8">
					<p class="h3 text-dark mb-2 mb-md-4">Our fields of research are all focused on critical societal issues. Deep knowledge and multidisciplinary approach aimed at delivering groundbreaking solutions for society’s most perplexing problems.</p>
				</div>
			</div>
			<div class="row mb-0 mb-sm-3 mb-md-0">
				<div class="col-sm-3 col-md-2 offset-sm-4">
					<ul class="sidebar-nav nav bold flex-column">
						<li class="nav-item mb-1">
							<a class="js-scroll-trigger" href="#medicine">Medicine</a>
						</li>
						<li class="nav-item mb-1">
							<a class="js-scroll-trigger" href="#oncology">Oncology</a>
						</li>
						<li class="nav-item mb-1">
							<a class="js-scroll-trigger" href="#electronics">Electronics</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-3 col-md-2">
					<ul class="sidebar-nav nav bold flex-column">
						<li class="nav-item mb-1">
							<a class="js-scroll-trigger" href="#environmental">Environmental</a>
						</li>
						<li class="nav-item mb-1">
							<a class="js-scroll-trigger" href="#foodwater">Food & Water</a>
						</li>
						<li class="nav-item mb-1">
							<a class="js-scroll-trigger" href="#securitydefense">Security & Defense</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section id="medicine" class="pin-section">
		<div class="container">
			<div class="row h-100">
				<div class="pinned-image">
					<div class="pin-scene hover-caption first">
						<div class="pin-caption">
							<p>Nanostructures. Image caption–description should not exceed 140 characters in length. Lorem ipsum nullam quisante.</p>
						</div>
						<img src="../images/research-image-1.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-sm-5 my-auto">
					<h3>Medicine</h3>
					<p class="lead">Description of research that is short, concise, and in easily understandable. 900 character limit — lorem ipsum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend acenim.</p>
					<p class="lead">Construct stable, non-toxic, targeted nanomaterials-based therapeutic agents that can be used to treat any disease with a genetic basis.</p>
					<a href="#" class="lead underline">Learn more</a>
				</div>
			</div>
		</div>
	</section>
	<section id="oncology" class="pin-section">
		<div class="container">
			<div class="row h-100">
				<div class="pinned-image">
					<div class="pin-scene hover-caption">
						<div class="pin-caption">
							<p>SNA model - oncology. Image caption–description should not exceed 140 characters in length. Lorem ipsum nullam quisante.</p>
						</div>
						<img src="../images/research-image-2.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-sm-5 my-auto">
					<h3>Oncology</h3>
					<p class="lead">Description of research that is short, concise, and in easily understandable. 900 character limit — lorem ipsum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend acenim.</p>
					<p class="lead">Description of research that is short, concise, and in easily understandable. 900 character limit — lorem ipsum sociis natoque penatibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor is consequat vitae.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="electronics" class="pin-section">
		<div class="container">
			<div class="row h-100">
				<div class="pinned-image">
					<div class="pin-scene hover-caption">
						<div class="pin-caption">
							<p>Multi-layered silver-alumina nanopyramidal film created from an etched silicon template.</p>
						</div>
						<img src="../images/research-image-3.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-sm-5 my-auto">
					<h3>Electronics</h3>
					<p class="lead">Description of research that is short, concise, and in easily understandable. 900 character limit.</p>
					<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
					<p class="lead">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="energy" class="pin-section">
		<div class="container">
			<div class="row h-100">
				<div class="pinned-image">
					<div class="pin-scene hover-caption">
						<div class="pin-caption">
							<p>Image caption–description should not exceed 140 characters in length. Placeholder text lorem ipsum nullam quisante etiam is amet lipsu null.</p>
						</div>
						<img src="../images/research-image-4.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-sm-5 my-auto">
					<h3>Energy</h3>
					<p class="lead">Description of research that is short, concise, and in easily understandable. 900 character limit — lorem ipsum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend acenim.</p>
					<p class="lead">Description of research that is short, concise, and in easily understandable. 900 character limit — lorem ipsum sociis natoque penatibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor is consequat vitae</p>
				</div>
			</div>
		</div>
	</section>
	<section id="environmental" class="pin-section">
		<div class="container">
			<div class="row h-100">
				<div class="pinned-image">
					<div class="pin-scene hover-caption">
						<div class="pin-caption">
							<p>Clusters of zinc oxide nanoparticles are used to help engineers design new materials for organic solar cells.</p>
						</div>
						<img src="../images/research-image-5.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-sm-5 my-auto">
					<h3>Environmental</h3>
					<p class="lead">Description of research that is short, concise, and in easily understandable. 900 character limit.</p>
					<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
					<p class="lead">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="foodwater" class="pin-section">
		<div class="container">
			<div class="row h-100">
				<div class="pinned-image">
					<div class="pin-scene hover-caption">
						<div class="pin-caption">
							<p>DNA-functionalized gold nanoparticles being developed as probes in a variety of high sensitivity biodiagnostic systems.</p>
						</div>
						<img src="../images/research-image-6.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-sm-5 my-auto">
					<h3>Food & Water</h3>
					<p class="lead">Description of research that is short, concise, and in easily understandable. 900 character limit — lorem ipsum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend acenim.</p>
					<p class="lead">Description of research that is short, concise, and in easily understandable. 900 character limit — lorem ipsum sociis natoque penatibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor is consequat vitae</p>
				</div>
			</div>
		</div>
	</section>

	<section id="securitydefense" class="pin-section">
		<div class="container">
			<div class="row h-100">
				<div class="pinned-image">
					<div class="pin-scene hover-caption">
						<div class="pin-caption">
							<p>Nanorods, which applications range from biosensing to electronics, could provide substantial advantages over current defense technologies.</p>
						</div>
						<img src="../images/research-image-7.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-sm-5 my-auto">
					<h3>Security & Defense</h3>
					<p class="lead">900 character limit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
					<p class="lead">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="particle-section bg-light">
		<div class="container">
			<div class="row h-100">
				<div class="unpin-slide"></div>
				<div id="waves-wrapper"></div>
				<div class="col-sm-7 offset-sm-3 col-md-6 offset-md-5 my-auto">
					<h2>Help fulfill the promise of nanotechnology</h2>
					<p class="lead mb-3">IIN welcomes donor contributions to help build the future of nanotechnology. With your support, the world-changing potential of nanotechnology can be fully realized.</p>
					<a class="btn btn-primary" href="#" role="button">Make a contribution</a>
				</div>
			</div>
		</div>
	</section>
</main>
{{> ../footer/_footer_alt}}
{{> ../footer/_foot}}
