//
// Name:            Footer
//
// Description:     Contains all footer styles
//
// ========================================================================
// Component: Footer
// =========================================================================
footer {
  overflow-x: hidden;

  .nav-item {
    margin-bottom: 1rem;
  }

  .lead {
    color: $ui06 !important;

    @include media-breakpoint-down ('xs') {
      font-size: 1.125rem;
    }
  }

  .nav {
    @include media-breakpoint-down ('xs') {
      column-count: 2;
      display: block;
    }

    &.light {
      .nav-item a {
        font-family: 'Campton', $font-family-base;
        font-weight: 400;
      }
    }

    &.bold {
      .nav-item a {
        font-family: 'Campton', $font-family-base;
        font-weight: 500;
      }
    }
  }
}
