//
// Name:            Layout
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Base
// ========================================================================

// canvas {
//   position: absolute;
//   top:0;
//   left:0;
//   z-index:-1;
// }

.container-fluid.container-max {
  max-width: 1440px;
}

.overlay-purple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($ui07,0.7);
  z-index: 2;
}

.bg-image {
  @include media-breakpoint-up('md') {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      min-width: 100%;
      max-height: 100vh;
    }
  }
}

.pinned-image {
  @include media-breakpoint-up('sm') {
    position: absolute;
    top: 0;
    right: 0;
    width: 44.44%;
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      min-width: 100%;
      max-height: 100vh;
    }
  }
}

.slider-image {
  @include media-breakpoint-up('md') {
    height: 300px;

    img {
      object-fit: cover;
      height: 100%;
      min-width: 100%;
      max-height: 100vh;
    }
  }
}

.pinned-image-left {
  @include media-breakpoint-up('sm') {
    position: absolute;
    top: 0;
    left: 0;
    width: 55.56%;
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      min-width: 100%;
    }
  }
}

.timeline-image-left {
  @include media-breakpoint-up('sm') {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      min-width: 100%;
    }
  }

  @include media-breakpoint-up('md') {
    position: absolute;
    top: 0;
    left: 0;
    width: 55.56%;
    height: 100%;
  }
}

.timeline-slider-section {
  @include media-breakpoint-down('sm') {
    padding: 0 !important;
  }
}

.pinned-image-right {
  @include media-breakpoint-up('sm') {
    position: absolute;
    top: 0;
    right: 0;
    width: 55.56%;
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      min-width: 100%;
    }
  }
}

.pin-section-small .pinned-image {
  @include media-breakpoint-down('sm') {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.sidebar-nav {
  .nav-item a, .button-group .is-checked {
   font-weight: bold;
  }
}

.team-card {
  cursor: pointer;
  margin-bottom: 3.75rem;

  p {
    margin: 0;
  }

  h6 {
    font-weight: 700;
  }

  .team-image {
    margin-bottom: 1.25rem;
  }
}

.card {
  .lead {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .nav {
    display: block;
    column-count: 1;
    margin-bottom: 2.5rem;

    .nav-item {
      margin-bottom: 1rem;
    }

    @include media-breakpoint-up('sm') {
      column-count: 2;
    }

    @include media-breakpoint-up('lg') {
      column-count: 3;
    }
  }
}

.news-link::after {
  display: none;

  @include media-breakpoint-up('md') {
    content: '';
    position: relative;
    height: 27px;
    width: 1px;
    background-color: #BFC4C7;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    margin-right: 0.125rem;
  }
}

.pin-scene {
  &.first img {
    opacity: 1 !important;
  }

  &.hover-caption  {
    .pin-caption {
      display: none;
    }

    @include media-breakpoint-up('sm') {
      cursor: pointer;

      .pin-caption {
        transform: translateY(100%);
        opacity: 0;
        display: block;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      }

      &:hover .pin-caption {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  img {
    opacity: 1;
    margin-top: 4rem;
    margin-bottom: 2rem;

    @include media-breakpoint-up('sm') {
      margin: 0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &.fade-transition img {
    opacity: 1;
  }
}

.unpin-image {
  .scrollmagic-pin-spacer {
    padding-top: 0 !important;
  }

  .pin-scene {
    position: relative !important;
    left: auto !important;
  }
}

.pin-caption {
  background: rgba($ui08,0.9);
  bottom: 0;
  padding: 0.875rem 1.25rem;
  position: absolute;
  right: 0;
  width: 81.3333%;
  z-index: 999;

  p {
    font-size: 0.875rem;
    color: $white;
    margin: 0;
  }
}

.glossary {
  .lead {
    margin-bottom: 1.5rem;
  }

  .nav {
    display: block;
    margin-bottom: 2.5rem;

    .nav-item {
      margin-bottom: 1.5rem;
    }
  }
}
