//
// Name:            Navigation
//
// Description:     Contains all navigation styles
//
// ========================================================================
// Component: Navigation
// ========================================================================
nav.navbar {
  background: $white;
  padding: 0.25rem 1.5rem;

  .navbar-nav {
    @include media-breakpoint-up('lg') {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      &.search-active {
        opacity: 0;
      }
    }
  }

  @include media-breakpoint-down ('md') {
    background: $ui01 !important;
  }

  @include media-breakpoint-up('md') {
    padding: 1rem 1.5rem;
  }

  @include media-breakpoint-up('lg') {
    padding: 1.25rem 1.5rem;
  }

  @include media-breakpoint-up('xl') {
    padding: 2.5rem 1.5rem;
  }

  @include media-breakpoint-down('md') {
    .nav-link {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    .nav-link,  .nav-link.show, .nav-link.active {
      color: $white !important;
    }
  }

  .navbar-nav .nav-link {
    @include media-breakpoint-up('lg') {
      margin-right: 1.25rem;
      margin-left: 1.25rem;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }

  .dropdown-menu {
    @include media-breakpoint-down('md') {
      background: none;
      border-left: 2px $secondary solid;
      padding-left: 1rem !important;
      margin-bottom: 2rem !important;
      min-width: 100%;

      p {
        color: $white;
      }
    }

    .navbar-nav .search-icon {
      fill: $dark;
    }

    &.about-dropdown .dropdown-container {
      @include media-breakpoint-up('lg') {
        margin-left: -284px;
        width: 832px;
      }
    }

    &.education-dropdown .dropdown-container {
      @include media-breakpoint-up('lg') {
        margin-left: -639px;
        width: 1088px;
      }
    }
  }

  .nav-title {
    font-weight: 400;
  }

  .nav-title {
    @include media-breakpoint-up('lg') {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }
  }

  .about-nav-list {
    @include media-breakpoint-up('lg') {
      padding-top: 3.5rem;
      padding-bottom: 1rem;
    }
  }

  .edu-nav-list {
    @include media-breakpoint-up('lg') {
      padding-top: 3.5rem;
      padding-bottom: 4rem;
    }
  }

  .nav-divider {
    border-top: 1px solid #BFC6C7;
    font-size: 0.875rem;
    letter-spacing: 2px;
    padding-top: 1rem;

    @include media-breakpoint-down('md') {
      border-top: 1px solid $white;
      color: $white !important;
    }
  }

  .dropdown-item {
    background: none !important;
    white-space: normal;

    @include media-breakpoint-up('lg') {
      font-size: 1.125rem;
      color: $primary;
      padding-bottom: 1rem;
    }
  }

  .about-dropdown .dropdown-item + .dropdown-item {
    @include media-breakpoint-up('lg') {
      padding-top: 1rem;
      border-top: 1px solid #BFC6C7;
    }
  }

  .dropdown-container {
    .pinned-image-right,.pinned-image-left,.nav-title {
      @include media-breakpoint-down('md') {
        display: none;
      }
    }

    @include media-breakpoint-up('lg') {
      background: white;
      border-top: 1px $ui06 solid;
      position: fixed;
      width: 100%;
      padding-right: 24px;
      padding-left: 24px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .navbar-logo {
    width: 57px;
    height: auto;

    @include media-breakpoint-up('md') {
      width: 336px;
      height: auto;
    }

    @include media-breakpoint-up('lg') {
      width: 388px;
      height: auto;
    }
  }

  .navbar-nav .nav-link,
  .navbar-nav .nav-link.active {
    color: $dark;
    background: none !important;
  }

  .dropdown-item {
    @include media-breakpoint-down('md') {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &.headroom {
    @include media-breakpoint-up('lg') {
      will-change: transform;
      transition: transform 200ms linear;

      &.headroom--pinned {
        transform: translateY(0%);
      }

      &.headroom--unpinned {
        transform: translateY(-100%);
      }
    }
  }
}

.nav-item > a,
.dropdown > a {
  @include media-breakpoint-up('lg') {
    text-decoration: none;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 4px;
      display: block;
      margin-top: 5px;
      right: 0;
      background: $blue100;
      transition: width .2s ease;
      border-radius: 7px;
    }

    &.active::after,
    &:hover::after {
      width: 100%;
      left: 0;
      background: $blue100;
    }
  }
}

.dropdown.show a {
  @include media-breakpoint-up('lg') {
    &::after {
      width: 100%;
      left: 0;
      background: $secondary;
    }
  }
}

.dropdown > .nav-link {
  &:after {
    border: none !important;
    margin-left: 0 !important;
  }
}

body {
  &::after {
    content: '';
    transition: background 0.3s ease-in-out;
    background: rgba($ui06,0);
    z-index: -9999;
  }

  &.open::after {
    @include media-breakpoint-up('lg') {
      content: '';
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 150vh;
      background: rgba($ui06,0.8);
      z-index: 1000;
    }
  }

  &.menu-open .navbar > .container::before {
    @include media-breakpoint-down('md') {
      content: '';
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 150vh;
      background: rgba($ui06,0.8);
      z-index: 0;
    }
  }

  &.menu-open .search-button {
    z-index: -999 !important;
  }

  .dropdown {
    &.show .row {
      @include media-breakpoint-up('lg') {
        box-shadow: 0 -1px 0 0 rgba(#333940,0.2), 0 28px 34px 0 rgba(#333940,0.6);
      }
    }
  }

  .hamburger {
    z-index: 1;

    &.is-active {
      .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: $white;
      }
    }
  }

  nav.navbar .navbar-nav .nav-link, nav.navbar .dropdown-item {
    @include media-breakpoint-down('md') {
      color: $white;
    }
  }

  // Mobile nav
  .navbar-collapse {
    @include media-breakpoint-down('md') {
      position: fixed;
      top: 0;
      right: 0;
      padding: 4.5rem 1rem 1rem 2.5rem;
      width: 82.8125%;
      min-height: 100vh;
      background: $primary;
      max-width: 400px;
      max-height: 100vh;
      overflow-y: auto;

      &.collapsing {
        height: auto;
        transition: right 0.3s ease-in-out;
        right: -82.8125%;
      }

      &.show {
        right: 0;
        transition: right 0.3s ease-in-out;
      }

      .search-link {
        display: none;
      }
    }
  }

  // Expanding Search
  .search-bar {
    position: relative;

    svg {
      fill: $ui06;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }

    .search-toggle {
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 0;
      top: -7px;
    }

    .search-button {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      margin: auto;
      z-index: 999;
      margin-left: -18px;
      transition: margin 0.3s ease-in-out;
      transition-delay: 0.3s;
    }

    .search-input {
      width: 0;
      transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
      padding-left: 0;
      transition-delay: 0.3s;
      font-size: 1.125rem;
      transform: translateY(-7px);
      max-width: 200px;

      @include media-breakpoint-up ('lg') {
        max-width: 540px;
      }

      @include media-breakpoint-up ('xl') {
        max-width: 768px;
      }

      @include media-breakpoint-up ('xxl') {
        max-width: 960px;
      }
    }

    .search-close {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      transition-delay: 0.3s;
      cursor: pointer;
      z-index: 1;
    }

    &.active {
      .search-button {
        margin-left: 0;
      }

      .search-input {
        width: 200px;

        @include media-breakpoint-up ('lg') {
          width: 100vw;
        }
      }

      .search-close {
        opacity: 1;
      }

      .search-input {
        padding-left: 2rem;
      }
    }
  }

}
