section#hero {
  padding: 6.5rem 0 1.25rem;

  @include media-breakpoint-up('md') {
    padding: 8rem 0 4.375rem;
  }

  @include media-breakpoint-up('xl') {
    padding: 16.25rem 0 13.25rem;
  }
}

section {
  position: relative;

  &.pin-section > .container > .row {
    @include media-breakpoint-up('sm') {
      min-height: 100vh;
    }
  }

  &.pin-section-small > .container > .row {
    @include media-breakpoint-up('sm') {
      min-height: 462px;
    }
  }

  &.pin-section-left > .container > .row {
    @include media-breakpoint-up('sm') {
      min-height: 720px;
    }
  }

  &.particle-section  > .container > .row {
    @include media-breakpoint-up('md') {
      min-height: 100vh;
    }

    @include media-breakpoint-down('sm') {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &.section {
    padding: 6.5rem 0 1.25rem;

    @include media-breakpoint-up('md') {
      padding: 8rem 0 4.375rem;
    }

    @include media-breakpoint-up('xl') {
      padding: 16.25rem 0 13.25rem;
    }
  }

  &.about-offset-bottom {
    z-index: 1;

    @include media-breakpoint-up('sm') {
      margin-bottom: -6rem;
    }

    @include media-breakpoint-up('xl') {
      margin-bottom: -11.25rem;
    }
  }

  .margin-offset-top {
    z-index: 1;
    margin-top: -4rem;

    @include media-breakpoint-up('xl') {
      margin-top: -7rem;
    }
  }

  &.about-offset-top {
    @include media-breakpoint-up('xl') {
      padding-top: 25.75rem;
    }
  }
}

.swiper-home {
	padding: 6.5rem 0 1.25rem;

	@include media-breakpoint-up('md') {
		padding: 8rem 0 4.375rem;
	}

	@include media-breakpoint-up('xl') {
		padding: 9.75rem 0 13.25rem;
	}
}

// .timeline-pagination {
// 	z-index: 1;
// 	position: relative;
// 	text-align: left;
//   overflow-y: visible;
//
//   .swiper-slide {
//     height: 58px;
//     position: relative;
//   }
//
//   .timeline-caption {
//     position: relative;
//     top: 0;
//     left: 20px;
//     width: 200px;
//
//     p {
//       color: $purple100 !important;
//     }
//
//     &:before {
//       content:'';
//       width: 2px;
//       background: $purple100;
//       display: block;
//       position: absolute;
//       z-index: -1;
//       height: 35px;
//       top: 0px;
//       left: -12px;
//     }
//   }
//
//   .swiper-pagination-bullet {
//     position: absolute;
//     bottom: 0;
//
//     &:after {
//       content:'';
//       height: 2px;
//       background: $purple100;
//       width: 100%;
//       display: block;
//       position: fixed;
//       z-index: -1;
//       bottom: 8px;
//     }
//   }
// }

// Test
// #history > .pb-6 {
//   padding-bottom: 20rem !important;
// }
.timeline-section {
  overflow: hidden;


  &:before {
    content:'';
    height: 100%;
    background: -moz-linear-gradient(left, rgba($primary,0) 0%, rgba($primary,1) 100%);
    background: -webkit-linear-gradient(left, rgba($primary,0) 0%,rgba($primary,1) 100%);
    background: linear-gradient(to right, rgba($primary,0) 0%,rgba($primary,1) 100%);
    width: 100px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    pointer-events: none;
  }

  .timeline-pagination {
  	z-index: 1;
  	position: relative;
  	text-align: left;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    height: 100px;
    float: left;

    &:after {
      content:'';
      height: 2px;
      background: $purple100;
      width: 100%;
      display: block;
      position: fixed;
      z-index: -2;
      bottom: 48px;
    }

    .swiper-slide {
      height: 58px;
      position: relative;
    }

    .timeline-caption {
      position: relative;
      top: -40px;
      left: 20px;
      width: 200px;

      p {
        color: $purple100 !important;
        width: 20vw;
        white-space: normal;
        position: absolute;

        @include media-breakpoint-down ('sm') {
          font-size: 0.75rem;
          line-height: 1.25;
        }

        @include media-breakpoint-up ('sm') {
          width: 100%;
        }

        &.remove-bar,
        &.remove-bar::before {
          display: none;
        }

        &::before {
          content:'';
          width: 2px;
          background: $purple100;
          display: block;
          position: absolute;
          z-index: -1;
          height: 35px;
          top: 0px;
          left: -12px;
        }
      }
    }

    .swiper-pagination-bullet {
      position: relative;
      bottom: -40px;
      margin-right: 35px;
      width: 22px;
      height: 22px;
      opacity: 1;
      background: $primary;
      border: 2px solid $purple100;

      @include media-breakpoint-up ('md') {
        margin-right: 35px;
      }

      @include media-breakpoint-up ('xl') {
        margin-right: 75px;
      }

      @include media-breakpoint-up ('xxl') {
        margin-right: 80px;
      }

      &:hover {
        border: 2px solid $secondary;
      }

      &-active {
        background: $secondary;
        border: 2px solid $secondary;
      }
    }
  }
}

.swiper-slide {
	.swiper-pagination-bullet {
		width: 18px;
		height: 18px;
		display: inline-block;
		border-radius: 100%;
		background: transparent;
		opacity: 1;
		border: 2px solid $purple100;
    background: $primary;
		transition: background 0.3s ease-in-out, border 0.3s ease-in-out;

		&:hover {
      background: $secondary;
			border: 2px solid $secondary;
		}
	}

	&.swiper-slide-active {
		.swiper-pagination-bullet {
      background: $secondary;
      border: 2px solid $secondary;
		}
	}
}

.article-nav {
  svg {
    margin-right: 0.5rem;
  }

  a {
    color: $ui05;
  }
}

.pagination-section {
  position: relative;
  opacity: 1;
  display: inline-block;
  margin-left: -10px;

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline;
    vertical-align: middle;
  }

  .swiper-pagination {
    z-index: 1;
  }

  .swiper-pagination-custom {
    padding-left: 20px;
    padding-right: 20px;
  }

  .swiper-button-prev, .swiper-button-next {
    top: 0;
    background: none;
    margin: 0;
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
  }
}

.pagination-section-news {
  position: relative;
  opacity: 1;
  display: inline-block;
  margin-right: -10px;

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline;
    vertical-align: middle;
  }

  .swiper-pagination {
    z-index: 1;
  }

  .swiper-pagination-custom {
    padding-left: 20px;
    padding-right: 20px;
  }

  .swiper-button-prev, .swiper-button-next {
    top: 0;
    background: none;
    margin: 0;
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
  }
}
