//
// Name:            Fonts
//
// Description:     Contains all fonts
//
// ========================================================================
// Component: Fonts
// ========================================================================
@font-face {
	font-family: 'Campton';
	src:  url('../fonts/ReneBieder-CamptonBook.woff2') format('woff2'),
				url('../fonts/ReneBieder-CamptonBook.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Campton';
	src:  url('../fonts/ReneBieder-CamptonMedium.woff2') format('woff2'),
				url('../fonts/ReneBieder-CamptonMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat Pro';
	src:  url('../fonts/AkkuratPro-Regular.woff2') format('woff2'),
				url('../fonts/AkkuratPro-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat Pro';
	src:  url('../fonts/AkkuratPro-Bold.woff2') format('woff2'),
				url('../fonts/AkkuratPro-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
