//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
// ========================================================================
// ========================================================================
// Component: Variables
// ========================================================================

//
// Colors
//
$purple100: #DCB4FF;
$purple500: #623D99;
$purple800: #4E2A84;

$blue100: #00ACC1;
$blue500: #007D99;
$blue800: #006180;

$brand-purple: $purple500;
$brand-blue: $blue500;

$ui00: #FFFFFF;
$ui01: #FAFAFC;
$ui02: #F2F5F7;
$ui03: #EBEEF0;
$ui04: #BFC4C7;
$ui05: #A1ACB3;
$ui06: #68748D;
$ui07: #4B566E;
$ui08: #333940;
$ui09: #000000;

$white:    $ui00;
$gray-100: $ui01;
$gray-200: $ui02;
$gray-300: $ui03;
$gray-400: $ui04;
$gray-500: $ui05;
$gray-600: $ui06;
$gray-700: $ui07;
$gray-800: $ui08;
$gray-900: $ui08;
$black:    $ui09;

// fusv-disable
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);
// fusv-enable

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);

$primary:       $brand-purple;
$secondary:     $brand-blue;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-300;
$dark:          $gray-800;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-caret:                                true;
$enable-rounded:                              true;
$enable-shadows:                              false;
$enable-gradients:                            false;
$enable-transitions:                          true;
$enable-prefers-reduced-motion-media-query:   true;
$enable-grid-classes:                         true;
$enable-pointer-cursor-for-buttons:           true;
$enable-rfs:                                  true;
$enable-validation-icons:                     true;
$enable-deprecation-messages:                 true;
$enable-important-utilities:                  true;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem;
$spacers: (
  0: 0,
  125: $spacer * 0.25,
  15: $spacer * 0.5,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 7.5
);


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 636px,
  md: 800px,
  lg: 1056px,
  xl: 1296px,
  xxl: 1544px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 588px,
  md: 752px,
  lg: 1008px,
  xl: 1248px,
  xxl: 1488px
);


// Typography
//
// Font, line-height, and color for body text, headings, and more.
// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case

// $font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $font-size-base effects the font size of the body text
$font-size-root:              null;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .875;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;

$line-height-base:            1.5;
$line-height-lg:              2;
$line-height-sm:              1.25;

$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2.375;
$h3-font-size:                $font-size-base * 2.125;
$h4-font-size:                $font-size-base * 1.75;
$h5-font-size:                $font-size-base * 1.625;
$h6-font-size:                $font-size-base * 1.125;

$display1-size:               3.625rem;
$display1-weight:             400;

$lead-font-size:              $font-size-base * 1.125;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns:                12;
$grid-gutter-width:           48px;
$grid-row-columns:            6;



// Navs
//
//
$navbar-nav-link-padding-x: 1.25rem;

$nav-tabs-border-color:             $gray-300;
$nav-tabs-border-width:             0;
$nav-tabs-border-radius:            0;


// Modals
//
// Padding applied to the modal body
$modal-inner-padding:               0;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between:       .5rem;

$modal-dialog-margin:               .5rem;
$modal-dialog-margin-y-sm-up:       1.75rem;

$modal-content-color:               null;
$modal-content-bg:                  $white;
$modal-content-border-width:        0;
$modal-content-border-radius:       0;
$modal-content-inner-border-radius: 0;
$modal-content-box-shadow-xs:       none;
$modal-content-box-shadow-sm-up:    none;

$modal-backdrop-bg:                 $ui05;
$modal-backdrop-opacity:            .8;
$modal-header-border-width:         0;
$modal-footer-border-width:         0;
$modal-header-padding-y:            0;
$modal-header-padding-x:            0;
$modal-header-padding:              0 0; // Keep this for backwards compatibility

$modal-fade-transform:              translate(100px, 0);
$modal-show-transform:              none;
$modal-transition:                  transform .3s ease-out;
$modal-scale-transform:             scale(1.02);


// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-min-width:                800px;
$dropdown-padding-y:                .5rem;
$dropdown-spacer:                   .125rem;
$dropdown-font-size:                $font-size-base;
$dropdown-bg:                       $white;
$dropdown-border-color:             rgba($black, .15);
$dropdown-border-radius:            0;
$dropdown-border-width:             0;
$dropdown-inner-border-radius:      0;
$dropdown-divider-bg:               $gray-200;
$dropdown-divider-margin-y:         $spacer / 2;

$dropdown-link-color:               $gray-900;
$dropdown-link-hover-color:         darken($gray-900, 5%);
$dropdown-link-hover-bg:            $gray-100;

$dropdown-link-active-color:        $primary;
$dropdown-link-active-bg:           $primary;

$dropdown-link-disabled-color:      $gray-600;

$dropdown-item-padding-y:           0;
$dropdown-item-padding-x:           0;

$dropdown-header-color:             $gray-600;
$dropdown-header-padding:           0;


// Cards
//
//
$card-spacer-y:                     0;
$card-spacer-x:                     0;
$card-title-spacer-y:               0;
$card-border-width:                 0;
$card-border-radius:                0;
$card-border-color:                 transparent;
$card-inner-border-radius:          0;
$card-cap-padding-y:                0;
$card-cap-padding-x:                0;
$card-cap-bg:                       transparent;
$card-cap-color:                    null;
$card-height:                       null;
$card-color:                        null;
$card-bg:                           $white;
$card-img-overlay-padding:          0;
$card-group-margin:                 0;


// Forms
//
// Gravity form variables
$form-field-border-radius: 0;
$form-field-background: $white;
$form-field-border:2px solid $ui06;
$form-field-font-size: 15px;
$form-field-color: $ui06;
$form-field-padding: 0;
$form-field-height: 44px;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-padding-y:               0.875rem;
$btn-padding-x:               1.65625rem;
$btn-font-family:             'Campton', $font-family-base;
$btn-font-size:               1.125rem;
$btn-line-height:             1.1111;
$btn-white-space:             null; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm:            $btn-padding-y;
$btn-padding-x-sm:            $btn-padding-x;
$btn-font-size-sm:            $btn-font-size;

$btn-padding-y-lg:            $btn-padding-y;
$btn-padding-x-lg:            $btn-padding-x;
$btn-font-size-lg:            $btn-font-size;

$btn-border-width:            0;
$btn-font-weight:             400;
$btn-block-spacing-y:         .5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           3px;
$btn-border-radius-lg:        $btn-border-radius;
$btn-border-radius-sm:        $btn-border-radius;


// Hamburger Variables
//
//
$hamburger-padding-x: 0;
$hamburger-padding-y: 15px;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color: $ui08;
$hamburger-layer-border-radius: 0;
