<!-- Footer -->
<footer class="mt-4 mt-sm-6">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3 order-sm-12">
        <p class="lead mb-2">Subscribe to Nanoscape, our newsletter, to get the latest on events, news, and more.</p>
        <div class="gform_wrapper">
            <a class="gform_anchor"></a>
            <form action="#" enctype="multipart/form-data" method="post" name="gform">
                <div class="gform_body">
                    <ul class="gform_fields top_label form_sublabel_below description_below">
                        <li class="gfield field_sublabel_below field_description_below">
                            <div class="ginput_container ginput_container_email">
                                <input class="medium" name="input_1" tabindex="2" type="email" value="" placeholder="Email">
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
      </div>
      <div class="col-lg-5 d-none d-lg-block">
        <a class="navbar-brand animsition-link" href="/">
          <img class="navbar-logo mb-2" alt="Northwestern | International Institute for Nanotechnology" src="../images/Northwestern_IIN_logo.svg">
        </a>
        <p class="m-0">International Institute for Nanotechnology</p>
        <p class="m-0">2145 Sheridan Rd, Tech K111 <br>Evanston, IL 60208</p>
      </div>
      <div class="col-12 col-sm-3 col-lg-2">
        <ul class="nav bold flex-sm-column my-2 my-sm-0">
          <li class="nav-item">
            <a class="animsition-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="animsition-link" href="#">Research</a>
          </li>
          <li class="nav-item">
            <a class="animsition-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="animsition-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="animsition-link" href="#">Giving</a>
          </li>
          <li class="nav-item">
            <a class="animsition-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-3 col-lg-2">
        <ul class="nav light flex-sm-column">
          <li class="nav-item">
            <a class="animsition-link" href="#">Facebook</a>
          </li>
          <li class="nav-item">
            <a class="animsition-link" href="#">Twitter</a>
          </li>
          <li class="nav-item">
            <a class="animsition-link" href="#">LinkedIn</a>
          </li>
          <li class="nav-item">
            <a class="animsition-link" href="#">Instagram</a>
          </li>
          <li class="nav-item">
            <a class="animsition-link" href="#">YouTube</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="footer-rule mb-1">
    <div class="row">
      <div class="col-12 col-sm-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="x-small animsition-link" href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm text-sm-right">
        <ul class="navbar-nav">
          <p class="x-small mb-2 mb-sm-0">© <script type="text/javascript">document.write(new Date().getFullYear());</script> International Institute for Nanotechnology</p>
        </ul>
      </div>
    </div>
  </div>
</footer>
